<div class="container-fluid bg-dark py-2 text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6">
        <div id="topBarSlider" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item text-center text-md-start active">
              <span class="small fw-bold">🔥 Flash Sale: 50% off all items!</span>
            </div>
            <div class="carousel-item text-center text-md-start">
              <span class="small fw-bold">🚚 Free shipping on orders over $50</span>
            </div>
            <div class="carousel-item text-center text-md-start">
              <span class="small fw-bold">⭐ New arrivals just landed!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-6 d-none d-md-flex  flex-row justify-content-end align-items-center">
        <a href="tel:8955228351" class="text-decoration-none text-white small text-nowrap me-3 d-inline-flex align-items-center">
          <svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 24 24" >
            <path d="M18.07 22h.35c.47-.02.9-.26 1.17-.64l2.14-3.09c.23-.33.32-.74.24-1.14s-.31-.74-.64-.97l-4.64-3.09a1.47 1.47 0 0 0-.83-.25c-.41 0-.81.16-1.1.48l-1.47 1.59c-.69-.43-1.61-1.07-2.36-1.82-.72-.72-1.37-1.64-1.82-2.36l1.59-1.47c.54-.5.64-1.32.23-1.93L7.84 2.67c-.22-.33-.57-.57-.97-.64a1.455 1.455 0 0 0-1.13.24L2.65 4.41c-.39.27-.62.7-.64 1.17-.03.69-.16 6.9 4.68 11.74 4.35 4.35 9.81 4.69 11.38 4.69ZM6.88 10.05c-.16.15-.21.39-.11.59.05.09 1.15 2.24 2.74 3.84 1.6 1.6 3.75 2.7 3.84 2.75.2.1.44.06.59-.11l1.99-2.15 3.86 2.57-1.7 2.46c-1.16 0-6.13-.24-9.99-4.1S4 7.06 4 5.91l2.46-1.7 2.57 3.86-2.15 1.99Z"/>
          </svg>
          <strong class="me-1">Service (10am–8pm):</strong>
          <span>8955228351</span>
        </a>
        <a href="tel:9311662426" class="text-decoration-none text-white small text-nowrap d-inline-flex align-items-center">
          <svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 24 24" >
            <path d="M18.07 22h.35c.47-.02.9-.26 1.17-.64l2.14-3.09c.23-.33.32-.74.24-1.14s-.31-.74-.64-.97l-4.64-3.09a1.47 1.47 0 0 0-.83-.25c-.41 0-.81.16-1.1.48l-1.47 1.59c-.69-.43-1.61-1.07-2.36-1.82-.72-.72-1.37-1.64-1.82-2.36l1.59-1.47c.54-.5.64-1.32.23-1.93L7.84 2.67c-.22-.33-.57-.57-.97-.64a1.455 1.455 0 0 0-1.13.24L2.65 4.41c-.39.27-.62.7-.64 1.17-.03.69-.16 6.9 4.68 11.74 4.35 4.35 9.81 4.69 11.38 4.69ZM6.88 10.05c-.16.15-.21.39-.11.59.05.09 1.15 2.24 2.74 3.84 1.6 1.6 3.75 2.7 3.84 2.75.2.1.44.06.59-.11l1.99-2.15 3.86 2.57-1.7 2.46c-1.16 0-6.13-.24-9.99-4.1S4 7.06 4 5.91l2.46-1.7 2.57 3.86-2.15 1.99Z"/>
          </svg>
          <strong class="me-1">Sales:</strong>
          <span>9311662426</span>
        </a>
      </div>
    </div>
  </div>
</div>

{# <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MyBrand</a>
    </div>
</nav> #}
{# <header class="site-header py-2">
  <div class="container-fluid">
    <div class="row align-items-center g-2">

      <!-- Logo -->
      <div class="col-6 col-md-3">
        <a href="/" class="d-inline-block">
          <img src="catalog/view/javascript/assets/image/urbanwoodlogo.png" alt="Logo" height="40">
        </a>
      </div>

      <!-- Icons (right side) -->
      <div class="col-6 col-md-3 order-md-3 text-end">
        <div class="d-flex justify-content-end gap-3">
          <a href="#" class="icon">❤️</a>
          <a href="#" class="icon">🛒</a>
          <a href="#" class="icon">👤</a>
        </div>
      </div>

      <!-- Search -->
      <div class="col-12 col-md-6 order-md-2 ">
        <form class="open-search search-form search">
          <input
            type="search"
            class="form-control"
            name="search"
            placeholder="Search products…">
            <button class="btn btn-outline-secondary button-search" type="submit" id="button-addon2"><i class='bx bx-search' role="img" aria-label="Search icon"></i></button>
        </form>
      </div>

    </div>
  </div>
</header> #}
<header class="header">
  <div class="header-content-top">
    <div class="container">
      {# <div class="row align-items-center">
        <div class="text-slider">
          <div class="text-wrapper">
            <div><p><b>Diwali Sale is live“</b> : Get 50% off and Assured Gifts</p></div>
            <div><p> India’s No.1 in Customised Furniture</p></div>
            <div><p>“Free Shipping on All Products Across India“</p></div>
          </div>
        </div>
        <div class="content">
          <span class="info-at-top"><i class='bx bx-phone' > </i> Service (10am-8pm) <a href="tel:+91 8955228351"> +91 8955228351 </a> </span>
          <span class="info-at-top"><i class='bx bx-phone' ></i> <a href="tel:+91 9311662426"> Sales +91 9311662426 </a></span>
        </div>
      </div> #}
      <div class="log-sec" id="mobHeader">
        <div class="header-item item-left">
          <div class="logo">
            <a href="/"><img src="catalog/view/javascript/assets/image/urbanwoodlogo.png" alt="Urbanwood Furniture private limited - India's no 1 furniture brand" loading="lazy"></a>
          </div>
        </div>
        <div class="header-item item-right">
          <form class="open-search search-form" action="search">
            <label class="open-search-label" for="open-search">
              <i class='bx bx-search' role="img" aria-label="Search icon"></i>
              <input class="input-open-search" id="open-search" type="checkbox" />
              <div class="input-group search">
                <input type="text" class="form-control"  placeholder="What are you looking for?" name="search" aria-label="What are you looking for?" id="searchinput" aria-describedby="button-addon2" required>
                <button class="btn btn-outline-secondary button-search" type="submit" id="button-addon2"><i class='bx bx-search' role="img" aria-label="Search icon"></i></button>
              </div>
            </label>
          </form>
          {# <ul class="tophead-link float-right-side">
            <li class="track-order d-lg-block d-none">
              <a href="track-order">Track Order</a>
            </li>
            <li class="track-order d-lg-block d-none"><a href="bulk-order">Bulk Order</a></li>
          </ul> #}
          <a href="our-stores" aria-label="our store"><i class="bx bx-store-alt"></i></a>
          <div class="dropdown-pp">
            <i class='bx bx-user'></i>
            <div class="dropdown-content-pp"> 
              {% if logged %}
                <a href="account" rel='nofollow'>My Profile</a>
                <a href="orders" rel='nofollow'>My Order</a>
                <a href="wishlist" rel='nofollow'>My Wishlists</a>
                <div class=" sign-up-btn">
                  <a href='logout' rel='nofollow' type="button" class="text-white">Logout</a>
                </div>
              {% else %}
                <a href="javascript:;" rel='nofollow' type="button" class="log-sub-menu" onclick="signinmodal()">Log In
                  <span class="d-block" style="font-size:13px ">
                    <small>( If already have account)</small>
                  </span>
                </a>
                <div class=" sign-up-btn">
                  <a href="javascript:;" rel='nofollow' type="button" class="log-sub-menu text-white" onclick="signupmodal()">Sign Up
                    <span class="text-white d-block" style="font-size:13px ">
                      <small>( If you are not Register)</small>
                    </span>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
          <a href="wishlist" aria-label="wishlist"><i class="bx bx-heart"></i></a>
          <a href="cart" aria-label="cart"><i class='bx bx-basket' ></i></a>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <i class='bx bx-menu'></i>
          </div>
        </div>
      </div>
      <!-- menu start here -->
      <div class="header-item item-center" id="myHeader">
        <div class="menu-overlay"></div>
        <nav class="menu ">
          <div class="mobile-menu-head">
            <div class="go-back"><i class='bx bx-chevron-left'></i></div>
            <div class="current-menu-title"><a href="/"><img src="catalog/view/javascript/assets/image/urbanwoodlogo.png" alt="Urbanwood Furnitures - India's no 1 furniture brand" width="130" loading="lazy" style=";padding-left: 16px;"></a></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="menu-main m-0 p-0">
            {# <li>
              <a href="todays-sale" class="uw-nut">TODAY SALE</a>
            </li> #}
            <li>
              <a href="new-arrivals" class="blink-soft uw-nut">New Arrivals</a>
            </li>
            <li class="menu-item-has-children">
              <span class="uw-nut">Sofas</span>
              <div class="sub-menu mega-menu mega-menu-column-4 mega-menu-column-5">
                <div class="list-item">
                  <h4 class="title">Sofa Sets</h4>
                  <ul class="m-0 p-0">
                    <li><a href="wooden-sofa-set">Wooden Sofa Set</a></li>
                    <li><a href="fabric-sofa-set">Fabric Sofa Set</a></li>
                    <li><a href="sofa-cum-beds">Sofa cum Bed</a></li>
                    <li><a href="3-1-1-wooden-sofa-set">3+1+1 Wooden Sofa Set</a></li>
                    <li><a href="fabric-sofa-set-3-1-1">Fabric Sofa Set 3+1+1</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Sofas</h4>
                  <ul class="m-0 p-0">
                    <li><a href="wooden-sofas">Wooden Sofas</a></li>
                    <li><a href="fabric-sofas">Fabric Sofas</a></li>
                    <li><a href="3-seater-wooden-sofas">3 Seater Sofas</a></li>
                    <li><a href="2-seater-wooden-sofas">2 Seater Sofas</a></li>
                    <li><a href="1-seater-wooden-sofas">1 Seater Sofas</a></li>
                    <li><a href="l-shaped-sofas">L-shape Sofas</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Seating</h4>
                  <ul class="m-0 p-0">
                    <li><a href="lounge-chairs">Lounge Chairs</a></li>
                    <li><a href="loveseats">Loveseats</a></li>
                    <li><a href="arm-chairs">Arm Chairs</a></li>
                    <li><a href="diwan-beds">Diwans</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Sofa cum Bed</h4>
                  <ul class="m-0 p-0">
                    <li><a href="wooden-sofa-cum-beds">Wooden Sofa Cum Bed</a></li>
                    <li><a href="sofa-cum-bed-with-storage">Sofa Cum Bed with Storage</a></li>
                    <li><a href="sofa-cum-beds">Sofa Cum Bed</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item-has-children">
              <span class="uw-nut">Living</span>
              <div class="sub-menu mega-menu mega-menu-column-4 mega-menu-column-6">
                <div class="list-item">
                  <h4 class="title">Living Storage</h4>
                  <ul class="m-0 p-0">
                    <li><a href="tv-units">TV Units</a></li>
                    <li><a href="bookshelves">Bookshelves</a></li>
                    <li><a href="shoe-racks">Shoe Racks</a></li>
                    <li><a href="wall-shelves">Wall Shelves</a></li>
                    <li><a href="cabinet-and-sideboards">Cabinets & Sideborads</a></li>
                    <li><a href="chest-of-drawers">Chest of Drawers</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Sofas</h4>
                  <ul class="m-0 p-0">
                    <li><a href="wooden-sofas">Wooden Sofas</a></li>
                    <li><a href="fabric-sofas">Fabric Sofas</a></li>
                    <li><a href="3-seater-wooden-sofas">3 Seater Sofas</a></li>
                    <li><a href="2-seater-wooden-sofas">2 Seater Sofas</a></li>
                    <li><a href="1-seater-wooden-sofas">1 Seater Sofas</a></li>
                    <li><a href="l-shaped-sofas">L-shape Sofas</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Seating</h4>
                  <ul class="m-0 p-0">
                    <li><a href="lounge-chairs">Lounge Chairs</a></li>
                    <li><a href="loveseats">Loveseats</a></li>
                    <li><a href="arm-chairs">Arm Chairs</a></li>
                    <li><a href="diwan-beds">Diwans</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Tables</h4>
                  <ul class="m-0 p-0">
                    <li><a href="coffee-tables">Coffee Tables</a></li>
                    <li><a href="nest-of-tables">Nest of Tables</a></li>
                    <li><a href="side-end-tables">Side & end Tables</a></li>
                    <li><a href="console-tables">Console Tables</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Decor</h4>
                  <ul class="m-0 p-0">
                    <li><a href="decor">Home Decor</a></li>
                    <li><a href="wall-shelves">Wall Shelves</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item-has-children">
              <span class="uw-nut">Bedroom  </span>
              <div class="sub-menu mega-menu mega-menu-column-4">
                <div class="list-item">
                  <h4 class="title">All Beds</h4>
                  <ul class="m-0 p-0">
                    <li><a href="beds">Beds</a></li>
                    <li><a href="king-size-beds">King Size Beds</a></li>
                    <li><a href="queen-size-beds">Queen Size Beds</a></li>
                    <li><a href="sofa-cum-beds">Sofa cum Bed</a></li>
                    <li><a href="single-beds">Single Beds</a></li>
                    <li><a href="poster-beds">Poster Beds</a></li>
                    <li><a href="diwan-beds">Diwan Beds</a></li>
                    <li><a href="platform-beds">Platform Beds</a></li>
                    <li><a href="hydraulic-storage-beds">Hydraulic Beds</a></li>
                    <li><a href="bunk-beds">Bunk Beds</a></li>
                    <li><a href="trundle-bed">Trundle Bed</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Bedroom Storage</h4>
                  <ul class="m-0 p-0">
                    <li><a href="wardrobes">Wardrobes</a></li>
                    <li><a href="tv-units">TV Units</a></li>
                    <li><a href="shoe-racks">Shoe Racks</a></li>
                    <li><a href="cabinet-and-sideboards">Cabinets & Sideborad</a></li>
                    <li><a href="bookshelves">Booksheleves</a></li>
                    <li><a href="cupboards">Cupboards</a></li>
                    <li><a href="chest-of-drawers">Chest of Drawers</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Bedroom Tables</h4>
                  <ul class="m-0 p-0">
                    <li><a href="bedside-tables">Bedside Tables</a></li>
                    <li><a href="dressing-tables">Dressing Tables</a></li>
                    <li><a href="side-end-tables">Side & End tables</a></li>
                    <li><a href="console-tables">Console Tables</a></li>
                    <li><a href="nest-of-tables">Nest of Tables</a></li>
                    <li><a href="study-tables">Study Tables</a></li>
                    <li><a href="coffee-tables">Coffee Tables</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item-has-children">
              <span class="uw-nut">Dining</span>
              <div class="sub-menu mega-menu mega-menu-column-4">
                <div class="list-item">
                  <h4 class="title">Dining Set</h4>
                  <ul class="m-0 p-0">
                    <li><a href="6-seater-dining-table-sets">6 Seater Dining Table Set</a></li>
                    <li><a href="4-seater-dining-table-sets">4 Seater Dining Table Set</a></li>
                    <li><a href="2-seater-dining-table-sets">2 Seater Dining Table Set</a></li>
                    <li><a href="round-dining-table-sets">Round Dining Table Set</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Dining Tables</h4>
                  <ul class="m-0 p-0">
                    <li><a href="6-seater-dining-tables">6 Seater Tables</a></li>
                    <li><a href="4-seater-dining-tables">4 Seater Tables</a></li>
                    <li><a href="2-seater-dining-tables">2 Seater Tables</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Dining Chairs</h4>
                  <ul class="m-0 p-0">
                    <li><a href="wooden-dining-chairs">Wooden Dining Chairs</a></li>
                  </ul>
                  <h4 class="title sub-space">Bar Farniture</h4>
                  <ul class="m-0 p-0">
                    <li><a href="bar-cabinets">Bar Cabinets</a></li>
                    <li><a href="wine-racks">Wine Racks</a></li>
                    <li><a href="bar-unit">Bar Units</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item-has-children">
              <span class="uw-nut">Storage</span>
              <div class="sub-menu mega-menu mega-menu-column-4">
                <div class="list-item">
                  <h4 class="title">Living Storage</h4>
                  <ul class="m-0 p-0">
                    <li><a href="tv-units">TV Units</a></li>
                    <li><a href="bookshelves">Bookshelves</a></li>
                    <li><a href="shoe-racks">Shoe Racks</a></li>
                    <li><a href="chest-of-drawers">Chest of Drawers</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Bedroom Storage</h4>
                  <ul class="m-0 p-0">
                    <li><a href="wardrobes">Wardrobes</a></li>
                    <li><a href="dressing-tables">Dressing Table</a></li>
                    <li><a href="bedside-tables">Bedside Table</a></li>
                    <li><a href="wall-shelves">Wall Shelves</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Dining Storage</h4>
                  <ul class="m-0 p-0">
                    <li><a href="cabinet-and-sideboards">Cabinets & Sideboards</a></li>
                    <li><a href="bar-cabinets">Bar Cabinets</a></li>
                    <li><a href="wine-racks">Wine Racks</a></li>
                    <li><a href="crockery-unit">Crockery Unit</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item-has-children">
              <span class="uw-nut">Study & Office </span>
              <div class="sub-menu mega-menu mega-menu-column-4">
                <div class="list-item">
                  <h4 class="title">Study Room Furniture</h4>
                  <ul class="m-0 p-0">
                    <li><a href="study-tables">Study Tables</a></li>
                    <li><a href="study-chairs">Study Chairs</a></li>
                    <li><a href="kids-study-tables">Kids Study Tables</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Office Furniture</h4>
                  <ul class="m-0 p-0">
                    <li><a href="office-tables">Office Tables</a></li>
                    <li><a href="office-chairs">Office Chairs</a></li>
                    <li><a href="file-cabinets">File Cabinets</a></li>
                    <li><a href="office-desk">Office Desk</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Study/Office Storage</h4>
                  <ul class="m-0 p-0">
                    <li><a href="bookshelves">Book Shelves</a></li>
                    <li><a href="wall-shelves">Wall Shelves</a></li>
                    <li><a href="cabinet-and-sideboards">Cabinets</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item-has-children">
              <span class="uw-nut">Decor  </span>
              <div class="sub-menu mega-menu mega-menu-column-4">
                <div class="list-item">
                  <h4 class="title">Wall Decor Art</h4>
                  <ul class="m-0 p-0">
                    <li><a href="decor">Home Decor</a></li>
                    <li><a href="wall-shelves">Wall Shelves</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Wall Decor Art</h4>
                  <ul class="m-0 p-0">
                    <li><a href="mirrors">Wall Mirrors</a></li>
                  </ul>
                </div>
                <div class="list-item">
                  <h4 class="title">Spiritual</h4>
                  <ul class="m-0 p-0">
                    <li><a href="temples">Temples</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a href="custom-furniture" class="uw-nut">Custom Furniture</a>
            </li>
            {# <li><a href="our-stores" class="uw-nut">Our Stores</a></li> #}
            {# <li><a href="franchise" class="uw-nut">Franchise</a>
            <span class="new-text-badge" style="
    font-size: 11px;
    position: absolute;
    top: -8px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: none;
    color: #E85348;
    font-weight: 600;
">New</span></li> #}
          </ul>
          {# <div class="mob-bottom-list d-sm-block d-lg-none">
            <a href="track-order">TRACK ORDER</a>
            <a href="bulk-order">BULK ORDER</a>
          </div> #}
        </nav>
      </div>
      <!-- menu end here -->
    </div>
  </div>
  <hr class="hr-line">
</header>
