<nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block desk-menu">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link today-sale-link" aria-current="page" href="todays-sale">Monsoon Sale</a>
                </li>
                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="sofas"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sofas
                    </a>
                    <div class="dropdown-menu mega-dropdown-menu">
                        <div class="row">
                            <div class="col-lg-8">
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="sofas">SOFAS</a>
                                                </div>
                                                <li>
                                                    <a href="fabric-sofas">Fabric Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="wooden-sofas">Wooden Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                                </li>
                                                <li>
                                                    <a href="3-seater-wooden-sofas">3 Seater Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="2-seater-wooden-sofas">2 Seater Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="1-seater-sofas">1 Seater Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="l-shaped-sofas">L-Shaped Sofas</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="chairs">
                                                        SEATING
                                                    </a>
                                                </div>
                                                <li>
                                                    <a href="lounge-chairs">Lounge Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="loveseats">Loveseats</a>
                                                </li>
                                                <li>
                                                    <a href="ottomans-and-pouffes">Ottomans & Pouffes</a>
                                                </li>
                                                <li>
                                                    <a href="bean-bags">Bean Bags</a>
                                                </li>
                                                <li>
                                                    <a href="arm-chairs">Arm Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="diwan-beds">Diwans</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="sofa-cum-beds">
                                                        SOFA CUM BED
                                                    </a>
                                                </div>
                                                <li>
                                                    <a href="wooden-sofa-cum-beds">Wooden Sofa Cum Beds</a>
                                                </li>
                                                <li>
                                                    <a href="sofa-cum-bed-with-storage">Sofa Cum Bed with Storage</a>
                                                </li>
                                                <li>
                                                    <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                                </li>
                                            </ul>
                            </div>

                            <div class="col-lg-4">
                                <picture>
	                                <!--- Note that this src and media query match the link-preload tag. -->
	                                <source srcset="catalog/view/javascript/assets/image/menuimag/sofaoffers.avif" media="(min-width: 1024px)" />
	                                <img  class="img-responsive img-fluid" alt="sofas room category thumbnail" loading="lazy"/>
                                </picture>
                            </div>

                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" target="_blank" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Living
                    </a>
                    <div class="dropdown-menu mega-dropdown-menu">
                        <div class="row">
                            <div class="col-lg-8">
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="living-room-furniture">ALL LIVING ROOM</a>
                                                </div>
                                                <li>
                                                    <a href="tv-units">Tv Units</a>
                                                </li>
                                                <li>
                                                    <a href="bookshelves">Bookshelves</a>
                                                </li>
                                                <li>
                                                    <a href="shoe-racks">Shoe Racks</a>
                                                </li>
                                                <li>
                                                    <a href="wall-shelves">Wall Shelves</a>
                                                </li>
                                                <li>
                                                    <a href="cabinet-and-sideboards">Cabinet & Sideboard</a>
                                                </li>
                                                <li>
                                                    <a href="chest-of-drawers">Chest of Drawers</a>
                                                </li>
                                                <li>
                                                    <a href="wardrobes">Wardrobes</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="sofas">SOFAS</a>
                                                </div>
                                                <li>
                                                    <a href="fabric-sofas">Fabric Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="wooden-sofas">Wooden Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="3-seater-wooden-sofas">3 Seater Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="2-seater-wooden-sofas">2 Seater Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="1-seater-sofas">1 Seater Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="l-shaped-sofas">L-Shaped Sofas</a>
                                                </li>
                                                <li>
                                                    <a href="chaise-lounge">Chaise Lounge</a>
                                                </li>
                                                <li>
                                                    <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                                </li>
                                                <li>
                                                    <a href="loveseats">Loveseats</a>
                                                </li>
                                                <li>
                                                    <a href="diwan-beds">Diwan Sofa</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="chairs">SEATING</a>
                                                </div>
                                                <li>
                                                    <a href="lounge-chairs">Lounge Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="wing-chairs">Wing Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="arm-chairs">Arm Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="office-chairs">Office Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="bean-bags">Bean Bags</a>
                                                </li>
                                                <li>
                                                    <a href="ottomans-and-pouffes">Ottomans & Pouffes</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="tables">Tables</a>
                                                </div>
                                                <li>
                                                    <a href="coffee-tables">Coffee Tables</a>
                                                </li>
                                                <li>
                                                    <a href="nest-of-tables">Nest of Tables</a>
                                                </li>
                                                <li>
                                                    <a href="side-end-tables">Side & end Tables</a>
                                                </li>
                                                <li>
                                                    <a href="study-tables">Study Tables</a>
                                                </li>
                                                <li>
                                                    <a href="console-tables">Console Tables</a>
                                                </li>
                                                <li>
                                                    <a href="laptop-tables">Laptop Tables</a>
                                                </li>

                                            </ul>
                            </div>
                            <div class="col-lg-4">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/menuimag/livingroom.avif" media="(min-width: 1024px)" />
	                                <img  class="img-responsive img-fluid" alt="living room category thumbnail" loading="lazy"/>
                                </picture>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" target="_blank" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bedroom
                    </a>
                    <div class="dropdown-menu mega-dropdown-menu">
                        <div class="row">
                            <div class="col-lg-8">
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="beds">Beds</a>
                                                </div>
                                                <li>
                                                    <a href="king-size-beds">King Size Beds</a>
                                                </li>
                                                <li>
                                                    <a href="queen-size-beds">Queen Size Beds</a>
                                                </li>
                                                <li>
                                                    <a href="single-beds">Single Beds</a>
                                                </li>
                                                <li>
                                                    <a href="beds-with-storage">Beds with Storage</a>
                                                </li>
                                                <li>
                                                    <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                                </li>
                                                <li>
                                                    <a href="double-beds">Double Beds</a>
                                                </li>
                                                <li>
                                                    <a href="poster-beds">Poster Beds</a>
                                                </li>
                                                <li>
                                                    <a href="diwan-beds">Diwan Beds</a>
                                                </li>
                                                <li>
                                                    <a href="platform-beds">Platfrom Beds</a>
                                                </li>
                                                <li>
                                                    <a href="hydraulic-storage-beds">Hydraulic Beds</a>
                                                </li>
                                                <li>
                                                    <a href="bunk-beds">Bunk Beds</a>
                                                </li>
                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="bedroom-furniture">Bedroom furniture</a>
                                                </div>
                                                <li>
                                                    <a href="wardrobes">Wardrobes</a>
                                                </li>
                                                <li>
                                                    <a href="chest-of-drawers">Chest of Drawers</a>
                                                </li>
                                                <li>
                                                    <a href="cabinet-and-sideboards">Cabinets & Sideboards</a>
                                                </li>
                                                <li>
                                                    <a href="tv-units">Tv Units</a>
                                                </li>
                                                <li>
                                                    <a href="bookshelves">Bookshelves</a>
                                                </li>
                                                <li>
                                                    <a href="cupboards">Cupboards</a>
                                                </li>
                                                <li>
                                                    <a href="shoe-racks">Shoe Racks
                                                    </a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="bedside-tables">Bedroom Tables</a>
                                                </div>
                                                <li>
                                                    <a href="bedside-tables">Bedside Tables</a>
                                                </li>
                                                <li>
                                                    <a href="dressing-tables">Dressing Tables</a>
                                                </li>
                                                <li>
                                                    <a href="console-tables">Console Tables</a>
                                                </li>
                                                <li>
                                                    <a href="nest-of-tables">Nest of Tables</a>
                                                </li>
                                                <li>
                                                    <a href="coffee-tables">Coffee Tables</a>
                                                </li>
                                                <li>
                                                    <a href="side-end-tables">Side & end Tables</a>
                                                </li>
                                                <li>
                                                    <a href="study-tables">Study Table</a>
                                                </li>
                                            </ul>
                            </div>
                            <div class="col-lg-4">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/menuimag/bedroom.avif" media="(min-width: 1024px)" />
	                                <img  class="img-responsive img-fluid" alt="bedroom category thumbnail" loading="lazy"/>
                                </picture>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" target="_blank" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Diningroom
                    </a>
                    <div class="dropdown-menu mega-dropdown-menu">
                        <div class="row">
                            <div class="col-lg-8">
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="dining-table-sets">DINING TABLE SETS</a>
                                                </div>
                                                <li>
                                                    <a href="2-seater-dining-table-sets">2 Seater Dining Table Sets</a>
                                                </li>
                                                <li>
                                                    <a href="4-seater-dining-table-sets">4 Seater Dining Table Sets</a>
                                                </li>
                                                <li>
                                                    <a href="6-seater-dining-table-sets">6 Seater Dining Table Sets</a>
                                                </li>
                                                <li>
                                                    <a href="round-dining-table-sets">Round Dining Table Sets</a>
                                                </li>
                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="dining-tables">DINING TABLES</a>
                                                </div>
                                                <li>
                                                    <a href="6-seater-dining-tables">6 Seater Dining Tables
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="4-seater-dining-tables">4 Seater Dining Tables
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="2-seater-dining-tables">2 Seater Dining Tables
                                                    </a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="dining-chairs">DINING CHAIRS</a>
                                                </div>
                                                <li>
                                                    <a href="dining-chairs">Dining Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="wooden-dining-chairs">Wooden Dining Chairs</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="bar-furniture">BAR FURNITURE</a>
                                                </div>
                                                <li>
                                                    <a href="bar-cabinets">Bar Cabinets</a>
                                                </li>
                                                <li>
                                                    <a href="wine-racks">Wine Racks</a>
                                                </li>
                                                <li>
                                                    <a href="bar-unit">Bar Unit</a>
                                                </li>

                                            </ul>
                            </div>

                            <div class="col-lg-4">
                                
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/menuimag/dininroom.avif" media="(min-width: 1024px)" />
	                                <img  class="img-responsive img-fluid" alt="dining room category thumbnail" loading="lazy"/>
                                </picture>
                            </div>

                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" target="_blank" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Storage Furniture
                    </a>
                    <div class="dropdown-menu mega-dropdown-menu">
                        <div class="row">
                            <div class="col-lg-8">
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="storage-furniture">STORAGE FURNITUE</a>
                                                </div>
                                                <li>
                                                    <a href="tv-units">Tv Units</a>
                                                </li>
                                                <li>
                                                    <a href="bookshelves">Bookshelves</a>
                                                </li>
                                                <li>
                                                    <a href="shoe-racks">Shoe Racks</a>
                                                </li>
                                                <li>
                                                    <a href="wall-shelves">Wall Shelves</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="bedroom-storage">BEDROOM STORAGE</a>
                                                </div>
                                                <li>
                                                    <a href="chest-of-drawers">Chest of Drawers</a>
                                                </li>
                                                <li>
                                                    <a href="bedside-tables">Bedside Tables</a>
                                                </li>
                                                <li>
                                                    <a href="dressing-tables">Dressing Tables</a>
                                                </li>
                                                <li>
                                                    <a href="wall-shelves">WallShelves</a>
                                                </li>
                                                <li>
                                                    <a href="wardrobes">Wardrobes</a>
                                                </li>

                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="bar-furniture">BAR STORAGE</a>
                                                </div>
                                                <li>
                                                    <a href="cabinet-and-sideboards">Cabinets & Sideboards</a>
                                                </li>

                                            </ul>
                            </div>

                            <div class="col-lg-4">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/menuimag/storage.avif" media="(min-width: 1024px)" />
	                                <img  class="img-responsive img-fluid" alt="dining room category thumbnail" loading="lazy"/>
                                </picture>
                            </div>

                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" target="_blank" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Study/Office
                    </a>
                    <div class="dropdown-menu mega-dropdown-menu">
                        <div class="row">
                            <div class="col-lg-8">
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="study-room-furniture">STUDY ROOM FURNITURE</a>
                                                </div>
                                                <li>
                                                    <a href="study-tables">Study Tables</a>
                                                </li>
                                                <li>
                                                    <a href="kids-study-tables">Kids Study Tables</a>
                                                </li>
                                                <li>
                                                    <a href="study-chairs">Study Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="arm-chairs">Arm Chairs</a>
                                                </li>
                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="study-room-furniture">OFFICE FURNITURE</a>
                                                </div>
                                                <li>
                                                    <a href="office-tables">Office Tables</a>
                                                </li>
                                                <li>
                                                    <a href="office-chairs">Office Chairs</a>
                                                </li>
                                                <li>
                                                    <a href="file-cabinets">File Cabinets</a>
                                                </li>
                                                <li>
                                                    <a href="office-desk">Office Desk</a>
                                                </li>
                                            </ul>
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="study-room-furniture">STUDY/OFFICE STORAGE</a>
                                                </div>
                                                <li>
                                                    <a href="wall-shelves">Wall Shelves</a>
                                                </li>
                                                <li>
                                                    <a href="bookshelves">Book Shelves</a>
                                                </li>

                                            </ul>
                            </div>
                            <div class="col-lg-4">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/menuimag/studyroom.avif" media="(min-width: 1024px)" />
	                                <img  class="img-responsive img-fluid" alt="dining room category thumbnail" loading="lazy"/>
                                </picture>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" target="_blank" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Decor
                    </a>
                    <div class="dropdown-menu mega-dropdown-menu">
                        <div class="row">
                            <div class="col-lg-8">
                                            <ul class="mega-menu-tab">
                                                <div class="dropdown-header">
                                                    <a href="Decor">Home Decor</a>
                                                </div>
                                                <li>
                                                    <a href="decor">Wall Decor</a>
                                                </li>
                                                <li>
                                                    <a href="metal-wall-arts">Metal Wall Art</a>
                                                </li>
                                                <li>
                                                    <a href="wall-shelves">Wall Shelves</a>
                                                </li>
                                            </ul>
                                            
                                            
                            </div>

                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="new-arrivals">New Arivals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="custom-furnitures">Custom Furniture</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="our-stores">Our Stores</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<!--- mobile menu -->
<div class="navbar header-top navbar-expand-lg  d-block d-lg-none" id="mobnavbartop">
        <div class="wdith-25-sm">
            <div class="">
                <button class="btn mob-menutbn" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilesidemenu" aria-controls="mobilesidemenu">
                    <i class='bx bx-menu-alt-left'style='color:#434342;font-size:18px' ></i>
                </button>
            </div>
            <div class="">
                <a class="navbar-brand" href="https://urbanwood.in/">
                    <img src="catalog/view/javascript/assets/image/logo-monsoon.gif" ></a>
            </div>
        
            <div class="float-right-side">
                <div class="dropdown drop-btn">
                    <span><i class='bx bx-search' ></i></span>
                    <div class="dropdown-content mob-search-content">
                        <form class="d-flex search-form" action="search">
                            <input class="form-control" type="search"   name="search" placeholder="Search for products, categories and more..." aria-label="Search" required>
                            <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                        </form>
                    </div>
                </div>
                {% if logged %}
                <a class="head-icon" href="wishlist"><i class='bx bx-heart'></i></a>
                {% else %}
                <a class="head-icon" href="login"><i class='bx bx-heart'></i></a>
                {% endif %}
                <a class="head-icon" href="?route=checkout/cart"><i class='bx bx-cart-alt' ></i></a>
            </div>
        </div>
    

    <div class="offcanvas offcanvas-start" tabindex="-1" id="mobilesidemenu" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <div class="offcanvas-title" id="offcanvasExampleLabel">
                <img src="catalog/view/javascript/assets/image/urbanwoodlogo.png" width="130" alt="urbanwood logo" ></div>
            <button type="button" class="mob-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class='bx bx-arrow-back' style="color:#fff"></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <div class="content-mob-menu">
                <div id="jquery-accordion-menu" class="jquery-accordion-menu">
                    <ul>
                        <li class="active">
                            <a href="todays-sale">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image//icon/mob-sale-icon.png" media="(max-width: 768px)" />
	                                <img alt="sofas" loading="lazy" />
                                </picture>
                                Today's Sale</a>
                        </li>
                        <li>
                            <a href="sofas">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/icon/mob-sofa-icon.png" media="(max-width: 768px)" />
	                                <img alt="sofas" loading="lazy" />
                                </picture>
                                Sofas</a>
                            <ul class="submenu">
                                <li>
                                    <a href="sofa-sets">Sofa Sets
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="fabric-sofas">Fabric Sofas</a>
                                        </li>
                                        <li>
                                            <a href="wooden-sofas">Wooden Sofas</a>
                                        </li>
                                        <li>
                                            <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                        </li>
                                        <li>
                                            <a href="3-seater-wooden-sofas">3 Seater Sofa</a>
                                        </li>
                                        <li>
                                            <a href="1-seater-sofas">1 Seater Sofas</a>
                                        </li>
                                        <li>
                                            <a href="l-shaped-sofas">L-Shaped Sofas</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="seating-and-chairs">Seating</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="lounge-chairs">Lounge Chairs</a>
                                        </li>
                                        <li>
                                            <a href="loveseats">Loveseats</a>
                                        </li>
                                        <li>
                                            <a href="ottomans-and-pouffes">Ottomans & Pouffes</a>
                                        </li>
                                        <li>
                                            <a href="bean-bags">Bean Bags</a>
                                        </li>
                                        <li>
                                            <a href="arm-chairs">Arm Chairs</a>
                                        </li>
                                        <li>
                                            <a href="diwan-beds">Diwnas</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="sofa-cum-beds">Sofa Cum Bed</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="wooden-sofa-cum-beds">Wooden Sofa Cum Beds</a>
                                        </li>
                                        <li>
                                            <a href="sofa-cum-bed-with-storage">Sofa Cum Bed with Storage</a>
                                        </li>
                                        <li>
                                            <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                        </li>
                                        <li>
                                            <a href="3-seater-wooden-sofas">3 Seater Sofas</a>
                                        </li>
                                        <li>
                                            <a href="2-seater-wooden-sofas">2 Seater Sofas</a>
                                        </li>
                                        <li>
                                            <a href="1-seater-sofas">1 Seater Sofas</a>
                                        </li>
                                        <li>
                                            <a href="l-shaped-sofas">L-Shaped Sofas</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="living-room-furniture">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/icon/mob-living-icon.png" media="(max-width: 768px)" />
	                                <img alt="living room" loading="lazy" />
                                </picture>
                                Living</a>
                            <ul class="submenu">
                                <li>
                                    <a href="living-room-furniture">Living Storage</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="tv-units">Tv Units</a>
                                        </li>
                                        <li>
                                            <a href="bookshelves">Bookshelves</a>
                                        </li>
                                        <li>
                                            <a href="shoe-racks">Shoe Racks</a>
                                        </li>
                                        <li>
                                            <a href="wall-shelves">Wall Shelves</a>
                                        </li>
                                        <li>
                                            <a href="cabinet-and-sideboards">Cabinet & Sideboard</a>
                                        </li>
                                        <li>
                                            <a href="chest-of-drawers">Chest of Drawers</a>
                                        </li>
                                        <li>
                                            <a href="wardrobes">Wardrobes</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="sofas">
                                        Sofas</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="fabric-sofas">Fabric Sofas</a>
                                        </li>
                                        <li>
                                            <a href="wooden-sofas">Wooden Sofas</a>
                                        </li>
                                        <li>
                                            <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                        </li>
                                        <li>
                                            <a href="3-seater-wooden-sofas">3 Seater Sofa</a>
                                        </li>
                                        <li>
                                            <a href="1-seater-sofas">1 Seater Sofas</a>
                                        </li>
                                        <li>
                                            <a href="l-shaped-sofas">L-Shaped Sofas</a>
                                        </li>
                                        <li>
                                            <a href="chaise-lounge">Chaise Lounge</a>
                                        </li>
                                        <li>
                                            <a href="loveseats">Loveseats</a>
                                        </li>
                                        <li>
                                            <a href="diwan-beds">Diwan Sofa</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="seating-and-chairs">Seating & Chairs</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="lounge-chairs">Lounge Chairs</a>
                                        </li>
                                        <li>
                                            <a href="wing-chairs">Wing Chairs</a>
                                        </li>
                                        <li>
                                            <a href="arm-chairs">Arm Chairs</a>
                                        </li>
                                        <li>
                                            <a href="office-chairs">Office Chairs</a>
                                        </li>
                                        <li>
                                            <a href="bean-bags">Bean Bags</a>
                                        </li>
                                        <li>
                                            <a href="ottomans-and-pouffes">Ottomans & Pouffes</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="tables">Tables</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="coffee-tables">Coffee Tables</a>
                                        </li>
                                        <li>
                                            <a href="nest-of-tables">Nest of Tables</a>
                                        </li>
                                        <li>
                                            <a href="side-end-tables">Side & end Tables</a>
                                        </li>
                                        <li>
                                            <a href="study-tables">Study Tables</a>
                                        </li>
                                        <li>
                                            <a href="console-tables">Console Tables</a>
                                        </li>
                                        <li>
                                            <a href="laptop-tables">Laptop Tables</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/icon/mob-bed-icon.png" media="(max-width: 768px)" />
	                                <img alt="bed icon" loading="lazy" />
                                </picture>
                                Bedroom
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="bedroom-furniture">Beds</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="king-size-beds">King Size Beds</a>
                                        </li>
                                        <li>
                                            <a href="queen-size-beds">Queen Size Beds</a>
                                        </li>
                                        <li>
                                            <a href="single-beds">Single Beds</a>
                                        </li>
                                        <li>
                                            <a href="beds-with-storage">Beds with Storage</a>
                                        </li>
                                        <li>
                                            <a href="sofa-cum-beds">Sofa Cum Beds</a>
                                        </li>
                                        <li>
                                            <a href="double-beds">Double Beds</a>
                                        </li>
                                        <li>
                                            <a href="poster-beds">Poster Beds</a>
                                        </li>
                                        <li>
                                            <a href="diwan-beds">Diwan Beds</a>
                                        </li>
                                        <li>
                                            <a href="platform-beds">Platfrom Beds</a>
                                        </li>
                                        <li>
                                            <a href="hydraulic-storage-beds">Hydraulic Beds</a>
                                        </li>
                                        <li>
                                            <a href="bunk-beds">Bunk Beds</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="storage-furnitures">Storage & Accessories</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="wardrobes">Wardrobes</a>
                                        </li>
                                        <li>
                                            <a href="chest-of-drawers">Chest of Drawers</a>
                                        </li>
                                        <li>
                                            <a href="cabinet-and-sideboards">Cabinets & Sideboards</a>
                                        </li>
                                        <li>
                                            <a href="tv-units">Tv Units</a>
                                        </li>
                                        <li>
                                            <a href="bookshelves">Booksheles</a>
                                        </li>
                                        <li>
                                            <a href="cupboards">Cupboards</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="tables">Tables</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="bedside-tables">Bedside Tables</a>
                                        </li>
                                        <li>
                                            <a href="dressing-tables">Dressing Tables</a>
                                        </li>
                                        <li>
                                            <a href="console-tables">Console Tables</a>
                                        </li>
                                        <li>
                                            <a href="nest-of-tables">Nest of Tables</a>
                                        </li>
                                        <li>
                                            <a href="coffee-tables">Coffee Tables</a>
                                        </li>
                                        <li>
                                            <a href="side-end-tables">Side & end Tables</a>
                                        </li>
                                        <li>
                                            <a href="study-tables">Study Table</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="dining-room-furnitures">
                                <picture>
	                                <source srcset="catalog/view/javascript/assets/image/icon/dining-mobicon.png" media="(max-width: 768px)" />
	                                <img alt="dining room" loading="lazy" />
                                </picture>
                                Diningroom
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="dining-table-sets">Dining Table Sets</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="2-seater-dining-table-sets">2 Seater Dining Table Sets</a>
                                        </li>
                                        <li>
                                            <a href="4-seater-dining-table-sets">4 Seater Dining Table Sets</a>
                                        </li>
                                        <li>
                                            <a href="6-seater-dining-table-sets">6 Seater Dining Table Sets</a>
                                        </li>
                                        <li>
                                            <a href="round-dining-table-sets">Round Dining Table Sets</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="dining-table-sets">Dining Table</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="6-seater-dining-tables">6 Seater Dining Tables</a>
                                        </li>
                                        <li>
                                            <a href="4-seater-dining-tables">4 Seater Dining Tables
                                            </a>
                                        </li>
                                        <li>
                                            <a href="2-seater-dining-tables">2 Seater Dining Tables
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="chairs">Chairs</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="dining-chairs">Dining Chairs</a>
                                        </li>
                                        <li>
                                            <a href="wooden-dining-chairs">Wooden Dining Chairse</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="study-room-furnture">
                            <picture>
	                            <source srcset="catalog/view/javascript/assets/image/icon/studytable-icon.png" media="(max-width: 768px)" />
	                            <img alt="study/office" loading="lazy" />
                            </picture>
                                Study/Office
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="study-tables">Study Tables</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="study-tables">Study Tables</a>
                                        </li>
                                        <li>
                                            <a href="kids-study-tables">Kids Study Tables</a>
                                        </li>
                                        <li>
                                            <a href="study-chairs">Study Chairs</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="office-furnitures">Office Furnitures</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="arm-chairs">Arm Chairs</a>
                                        </li>
                                        <li>
                                            <a href="office-tables">Office Tables</a>
                                        </li>
                                        <li>
                                            <a href="office-chairs">Office Chairs</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="office-furnitures">Office Accessories</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="file-cabinets">File Cabinets</a>
                                        </li>
                                        <li>
                                            <a href="office-desk">Office Desk</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="storage-furnitures">Storage</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="wall-shelves">Wall Shelves</a>
                                        </li>
                                        <li>
                                            <a href="bookshelf">Book Shelves</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="decor">
                            <picture>
	                            <source srcset="catalog/view/javascript/assets/image/icon/studytable-icon.png" media="(max-width: 768px)" />
	                            <img alt="study/office" loading="lazy" />
                            </picture>
                                Decor
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="decor">Home Decor</a>
                                    
                                </li>
                                
                               
                            </ul>
                        </li>
                    
                    <li>
                        <a href="new-arrivals">
                        <picture>
	                        <source srcset="catalog/view/javascript/assets/image/icon/newarival-icon.png" media="(max-width: 768px)" />
	                        <img alt="shipping" loading="lazy" />
                        </picture>
                            New Arivals</a>
                    </li>
                    <li>
                        <a href="custom-furnitures">
                        <picture>
	                        <source srcset="catalog/view/javascript/assets/image/icon/custom-icon-mob.png" media="(max-width: 768px)" />
	                        <img alt="custom furniture" loading="lazy" />
                        </picture>
                        Custom Furniture
                        </a>
                    </li>
                    <li>
                        <a href="our-stores">
                        <picture>
	                        <source srcset="catalog/view/javascript/assets/image/icon/custom-icon-mob.png" media="(max-width: 768px)" />
	                        <img alt="our stores" loading="lazy"/>
                        </picture>
                        Our Stores
                        </a>
                    </li>
                </ul>

            </div>
            <div class="bg-gray">
                <ul class="m-0 p-0 mob-menu-log">
                    <li>
                        <i class="bx bxs-truck text-white"></i>
                        <a href="{{ trackorder }}">
                            Track Order
                        </a>
                    </li>
                    <li>
                        <i class="text-white"></i>
                        <a href="bulk-order">
                            Bulk Order
                        </a>
                    </li>
                    <li>
                    {% if logged %}
                    <i class="fas fa-sign-out-alt text-white"></i>
                        <a href="?route=account/logout">Logout
                        </a>
                    {% else %}
                    <i class="fas fa-sign-in-alt text-white"></i>
                        <a href="javascript:;"  onclick="signinmodal()">Sign in
                        </a>
                        &nbsp;
                        <span class="text-white">
                            |
                        </span>
                        &nbsp;<a href="javascript:;" onclick="signupmodal()">Sign Up
                        </a>
                    {% endif %}
                        
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</div>

