<section class="trending_sec py-2">
    <div class="container container-custom">
        <div class="row">
            <h2 class="pg-heading text-center">Top Trending Furnitures
            </h2>
            <p class="heading-para text-center ">We Have Everything You Need</p>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="">
                    <div class="trending-product-box">
                        <div class="product_img">
                            <span class="sale-badge">Best
                                <br>Sale</span>
                            <img src="catalog/view/javascript/assets/image/trending-item/img-1.jpg" class="img-responsive img-fluid">
                        </div>
                        <div class="product-content">
                            <div class="p_item-name">
                                <a href="">Hydraulic Storage Beds
                                </a>
                            </div>
                            <div class="p_item-price">
                                <p>Starting From
                                    <br>
                                    <span class="tax-text">(inclusive of all taxes)
                                    </span>
                                </p>
                                <h5 class="p_item-amount_">
                                    <i class='bx bx-rupee'></i>
                                    66,045</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="">
                    <div class="trending-product-box">
                        <div class="product_img">
                            <span class="sale-badge">Best
                                <br>Sale</span>
                            <img src="catalog/view/javascript/assets/image/trending-item/img-2.jpg" class="img-responsive img-fluid">
                        </div>
                        <div class="product-content">
                            <div class="p_item-name">
                                <a href="">Wardrobes</a>
                            </div>
                            <div class="p_item-price">
                                <p>Starting From
                                    <br>
                                    <span class="tax-text">(inclusive of all taxes)
                                    </span>
                                </p>
                                <h5 class="p_item-amount_">
                                    <i class='bx bx-rupee'></i>
                                    66,045</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="">
                    <div class="trending-product-box">
                        <div class="product_img">
                            <span class="sale-badge">Best
                                <br>Sale</span>
                            <img src="catalog/view/javascript/assets/image/trending-item/img-3.jpg" class="img-responsive img-fluid">
                        </div>
                        <div class="product-content">
                            <div class="p_item-name">
                                <a href="">Chest of Drawers
                                </a>
                            </div>
                            <div class="p_item-price">
                                <p>Starting From
                                    <br>
                                    <span class="tax-text">(inclusive of all taxes)
                                    </span>
                                </p>
                                <h5 class="p_item-amount_">
                                    <i class='bx bx-rupee'></i>
                                    66,045</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="">
                    <div class="trending-product-box">
                        <div class="product_img">
                            <span class="sale-badge">Best
                                <br>Sale</span>
                            <img src="catalog/view/javascript/assets/image/trending-item/img-4.jpg" class="img-responsive img-fluid">
                        </div>
                        <div class="product-content">
                            <div class="p_item-name">
                                <a href="">Loveseats</a>
                            </div>
                            <div class="p_item-price">
                                <p>Starting From
                                    <br>
                                    <span class="tax-text">(inclusive of all taxes)
                                    </span>
                                </p>
                                <h5 class="p_item-amount_">
                                    <i class='bx bx-rupee'></i>
                                    66,045</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>