{{ header }}
{{ menu }}
</div>
{% if error_warning %}
  <div class="success-popup2">
    <span class="warrning-svg">
      <svg id="smile2" width="35" height="35" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/>
        </svg>

            
    </span>
      <span class="warrning-text"> 
        
      <p>{{ error_warning }}</p>
    </span>
      
  </div>
  {% endif %}
  <style>
    .forget-pass-sec {
    	/* background: #fffbf5; */
    	padding: 8em;
    	width: 80%;
    	display: block;
    	margin: 10em auto
    }
    .forget-pass-sec h2 {
    	font-size: 85px;
    	color: #434342;
    	font-weight: 100;
    	line-height: 1.3em
    }
    .forget-pass-sec h2 span {
    	font-weight: 700;
    	color: #ff8000
    }
    .forget-pass-sec p {
    	color: #434342;
    	font-size: 18px
    }
    .fotgot-form-in input[type=email]:focus {
	    box-shadow: none
    }
    .fotgot-form {
    	background: #fff;
    	padding: 3em;
    	border-radius: 10px;
    	box-shadow: 0 0 20px #ffb06141;
    	position: relative;
    	width: 100%;
    	display: block
    }
    .fotgot-form-in label {
    	font-size: 16px;
    	color: #434342;
    	margin-bottom: 1em
    }
    .fotgot-form-in input[type=email] {
    	border-radius: 5px;
    	border: 1px solid #ffad5a;
    	padding: 10px;
    	font-size: 14px;
    	color: #ff8000
    }
    @media screen and (min-device-width:1200px) and (max-device-width:1600px) and (-webkit-min-device-pixel-ratio:1) {
      .forget-pass-sec {
		    width: 90%;
        padding: 6em;
		    margin: 2em auto
	    }
	    .forget-pass-sec h2 {
		    font-size: 70px
	    }
      .fotgot-form {
		    padding: 2em
	    }
    }
    @media (min-device-width:800px) and (max-device-width:1280px) {
      .forget-pass-sec {
	    	padding: 3em;
	    	width: 95%;
	    	margin: 8em auto
	    }
      .forget-pass-sec h2 {
		    font-size: 70px
	    }
      .fotgot-form {
		    padding: 2em
	    }
    }
    @media only screen and (max-width:1024px) {
      .forget-pass-sec {
	    	padding: 2em;
	    	margin: 6em auto
	    }
	    .forget-pass-sec h2 {
	    	font-size: 61px
	    }
      .fotgot-form {
		    padding: 2em
	    }
    }
    @media only screen and (max-width:576px) {
      .forget-pass-sec {
		    text-align: center;
        width: 80%;
        padding: 3em 0
	    }
      .forget-pass-sec h2 {
		    font-size: 35px
	    }
      .forget-pass-sec p{
		    font-size: 13px
	    }
      .fotgot-form {
		    padding: 1em
	    }
    }
  </style>
 <section class="forget-pass-sec">
  <div class="container">
    <div class="row">
  <div class="col-lg-6 col-lg-6 col-sm-12">
<h2 class="forgot-heading">
    Forgot Your <br>
<span >Password?</span>
</h2>
<p>Enter the email address associated
    with your account</p>
</div>
<div class="col-lg-6 col-lg-6 col-sm-12">
<div class="fotgot-form">

    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="fotgot-form-in">
        <div class="mb-3">
            <label for="useremailforgot" class="form-label">Enter Your Email address</label>
            <input type="email" class="form-control" name="email" id="useremailforgot" required>
          </div>
          <div id="emailHelp" class="form-text">Enter Email to receive a reset password link.</div>
        <div class="d-flex justify-content-end align-items-center mt-lg-5 mt-0">
            {# <span class="step-button">Send</span> #}
            <button type="submit" class="submit-forgot-btn" id="sbm"><i class="fas fa-paper-plane"></i></button>
        </div>
    </form>

    
</div>
</div>
  </div>
    </div>
  </div>
 </section> 
 <style>
 .bx-loader-circle {
  font-size: 20px;
 }
 </style>
 <script>
  $("form").submit(function(){
   $('#sbm').html("<i class='bx bx-loader-circle bx-spin' ></i>");
});
 </script>
 </body>
 </html>