{{ header }}
{{ menu }}
</div>
{% if error_warning %}
  <div class="success-popup2">
    <span class="warrning-svg">
      <svg id="smile2" width="35" height="35" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/>
        </svg>

            
    </span>
      <span class="warrning-text"> 
        
      <p>{{ error_warning }}</p>
    </span>
      
  </div>
  {% endif %}
  <style>
    h2 span {
    	color: #ff8000
    }
    #togglePasswordre {
      color: #ff8000;
    }
    .form-control:focus {
      border-color: #ff8000;
      box-shadow: inset 0 0 4px 0.25rem rgba(255, 128, 0, 0.25);
    }
  </style>
 <section>
  <div class="container">
    <div class="row my-5 mx-auto px-3 px-md-4 px-lg-5 py-5">
  <div class="col-lg-6 col-lg-6 col-sm-12 py-lg-5">
<h2 class="fs-1">
    Forgot Your <br class="d-none d-lg-block">
<span >Password?</span>
</h2>
<p>Enter the email address associated
    with your account</p>
</div>
<div class="col-lg-6 col-lg-6 col-sm-12">
<div class="shadow-lg p-3 p-md-4 rounded">

    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="fotgot-form-in">
        <div class="mb-3">
            <label for="useremailforgot" class="control-label form-label mt-2">Enter Your Email address</label>
            <input type="email" class="form-control p-2" name="email" id="useremailforgot" required autocomplete="email">
          </div>
          <div id="emailHelp" class="form-text">Enter Email to receive a reset password link.</div>
        <div class="d-flex justify-content-end align-items-center mt-lg-4 mt-1">
            {# <span class="step-button">Send</span> #}
            <button type="submit" class="submit-forgot-btn" id="sbm"><i class="bx bxs-paper-plane"></i></button>
        </div>
    </form>

    
</div>
</div>
  </div>
    </div>
  </div>
 </section> 
 <style>
 .bx-loader-circle {
  font-size: 20px;
 }
 </style>
 <script>
  $("form").submit(function(){
   $('#sbm').html("<i class='bx bx-loader-circle bx-spin' ></i>");
});
    document.addEventListener('DOMContentLoaded', function() {
        // Create a new <link> element
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = 'https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css'; // Replace with the actual path to your CSS file
        link.type = 'text/css';
        link.onload = () => console.log('Boxicon CSS loaded successfully.');

        // Append the <link> element to the <head>
        document.head.appendChild(link);
    });
 </script>
 </body>
 </html>