@import  url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    scroll-behavior: smooth;
    /* width: 100%;
    height: 100%;
    background: #fff; */
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    padding:0!important;
}
.go-top {
    border: 1px solid #ff8000;
    border-radius: 100px;
    width: 54px;
    height: 71px;
    text-align: center;
    line-height: 3;
    font-size: 25px;
    background: #ff8000;
    box-shadow: inset 0px 0px 0px 4px #fff;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 14px;
    filter: drop-shadow(0px 12px 14px #ff80006e);
    cursor:pointer;
}
.menu-bar-web {
    /* width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #ffffff54; */
}
.menu-bar-web .navbar-nav{
margin: 0 auto;
}
.menu-bar-web .navbar-nav .nav-item {
    margin: 0px 20px;
    color: #ffff;
}
.menu-bar-web .navbar-nav .nav-item a {
    color: #ffff;
    font-size: 15px;
    font-weight: 400;
}
.menu-bar-web .navbar-nav .nav-item:hover a{
    color:#fff
}
.menu-bar-web .navbar-nav .nav-item .active{
    position: relative;
    color: #fff;
}
.navbar-brand img {
    width: 70%;
}
.menu-bar-web .navbar-nav .nav-item .active::after {
    position: absolute;
    content: '';
    bottom: -14px;
    height: 3px;
    width: 51px;
    background: #ff8000;
    border-radius: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 2s ease;
}

.headbanner {
    background-image: url(../img/jaipurbanner.avif);
    padding: 140px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.headbanner h1 {
    font-size: 4rem;
    color: #fff;
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    margin: 0px;
}
.headbanner p {
    font-size: 2rem;
    color: #fff;
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    line-height: 1.8;
}
 
  .off {
    font-size: 58px;
    color: #ffdd9c;
    line-height: 1;
    font-weight: 600;
}

.offer p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    line-height: 1.8;
    text-transform: uppercase;
}
.shopnow-btn {
    background: #ff8000;
    color: #fff;
    padding: 7px 33px;
    margin: 17px 0px;
    border-radius: 0px;
}
.shopnow-btn:hover{
  color:#fff;
}
.call-now-btn {
    background: #ff8000;
    padding: 14px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    border-radius: 50px; 
    z-index: 2;
    transition: ease-all 0.5s;
}

.call-now-btn:hover {
    color: #fff;
    box-shadow: 1px -1px 7px 0px #ffb367;
}


.web-heading1, .web-heading2 {
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 0px 0px 35px;
}
.heading-para {
    color: #434342;
    font-size: 14px;
}
.web-para {
    color: #b1b1b1;
    font-size: 14px;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
}


.readmore {
    color: #fff;
    font-size: 14px;
    background: #ff8000;
    padding: 11px 0px 11px 12px;
    text-decoration: none;
    margin: 23px 0px 0px;
    border: 2px solid #ff8000;
    overflow: hidden;
}
.readmore .icon-do {
    background: #fff;
    padding: 11px 13px;
    color: #ff8000;
    font-size: 15px;
    margin-left: 8px;
}
.readmore:hover{
    color: #ededed;
}

.progres-box {
    width: 100%;
    margin-bottom: 50px;
}
.sr-no {
    background: #ff8d19;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: .5;
    padding: 14px;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #ffdeab;
    margin-right: 1em;
    font-size: 17px;
    border: 7px solid #fff;
}
.progres-box .heading-for-prog {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}
.progres-box .heading-for-prog:after{
position: absolute;
content: '';
height: 2px;
width: 30px;
background-color: #ff8000;
border-radius: 10px;
bottom: 0px;
left:0;
}
.progres-box p {
    color: #adb5bd;
    font-size: 14px;
    line-height: 1.5;
}


/*--========grid image =========---*/



/* Create four equal columns that sits next to each other */
.row-1 {
    display: -ms-flexbox !important;
    display: flex;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    padding: 0 0px;
    width: 100%;
    margin: 0px;
}
.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 100%;
    padding: 0 0px;
    width: 100%;
    margin: 0px;
    height: 574px;
    display: flex;
}
.img-grid {
    /* width: 100%; */
    height: 100%;
    transition: all ease-in-out .5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.img-grid img {
    /* margin-top: 8px;
    vertical-align: middle; */
    width: 100%;
    /* padding: 0px;
    margin: 0px; */
    height: 100%;
}
.img-grid .img-content {
    position: absolute;
    bottom: 70px;
    width: 100%;
    top: auto;
    padding: 0px 30px;
    z-index: 3;
    transition-duration: .2s;
  transition-timing-function: linear;
  transition-delay: .2s;
}
.img-grid .img-content h6{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
}
.img-grid .img-content hr{
    background: #fff;
    border: 1px solid #fff;
    width: 100%;
}
.img-grid .img-content span{
    text-align: end;
    float: right;
    color:#fff;
}
.card-img-overlay {
    background: #00000094;
    /* position: absolute; */
    top: auto;
    /* right: 0; */
    bottom: -5px;
    /* left: 0; */
    padding: 6rem;
    /* border-radius: calc(.25rem - 1px); */
    /* background-blend-mode: darken; */
    filter: blur(23px);
}

.product-quantity {
    text-align: end;
    /* text-decoration: none; */
    color: #fff;
    float: right;
    background: none;
    border: none;
    font-size: 20px;
}
.img-grid-box{
    text-decoration: none;
}
.product-quantity:hover{ color:#fff}
.column img:after{
position: absolute;
content: '';
width: 100%;
height: 100%;
background-color: #ff800067;
top:0;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

/*-- =============css carousel ============= --*/
.item {
    background: #fff;
    /* width: 354px; */
    border: 1px solid #f1f1f1;
    transition: all 1.5s ease;
}
.item:hover .product-img{
 box-shadow: 0px 0px 20px #ccc;
}
.pprocut-content {
    padding: 13px;
}
.product-img{
    width:100%;
    margin: 0 auto;
    overflow: hidden; 
}
.product-img:hover img{
    position: relative; 
    transform: scale(1.12); 
}
.product-img img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    transition: all 1.5s ease;
}
.product-heading {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.pprocut-content span{
    color:#ccc;
    font-size: 16px;
    margin: 10px 0px;
}
.pp-price {
    color: #ff8000;
    border: 1px solid #ff8000 !important;
    text-align: center;
    background: #fff;
    font-size: 14px;
    margin: 5px 0px;
    width: 133px;
    padding: 5px 15px;
    display: block;
    text-decoration: none;
}
.pp-price:hover{
    background: #ff8000;
    color:#fff;
}
.carousel-wrap {
    margin: 5px auto;
    padding: 0 5%;
    width: 100%;
    position: relative;
}
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;  
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }

  .row-2 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column2 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column2 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
.call-of-action {
    background: #ff8000;
}

.get-furniture{
    background: none;
    padding: 10px 20px;
    margin: 10px 0px;
    border: 1px solid #fff;
    color: #ffff;
    font-size: 14px;
    transition: all ease-in .5s;
}
.get-furniture:hover{
    background: #fff;
    color:#ff8000;
}
.contact-outer {
    background: #fff3e880;
    padding: 78px;
}

.address {
    display: flex;
    justify-content: start;
    margin: 0px 0px 18px;
    font-size: 14px;
}
.address i{
color:#ff8000;
font-size: 18px;
font-weight: 900;
margin-right: 10px;
}
.map-outer {
    position: relative;
    width: 100%;
    height: 508px;
    min-height: 606px;
    background-repeat: no-repeat;
}
.map {
    position: absolute;
    left: -52px;
    top: 4rem;
    width: 100%;
    height: 100%;
    box-shadow: 8px 20px 53px #ccc;
} 
.map img{
    width:100%;
    height: 100%;
}
.map iframe:local-link{
    color:#ff8000
}

.foot-logo {
    padding: 31px 0px 0px;
    margin: 20px 0px 0px;
}
.footer-bottom {
    margin-top: 9em;
    background: #ededed;
    padding: 3em 0em;
    position: relative;
}
.footer-bottom:before {
    position: absolute;
    content: '';
    width: 60%;
    background: #ededed;
    height: 40px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-right: 70px solid #ffffff00;
    border-left: 70px solid #ffffff00;
    border-bottom: 0px solid rgba(255, 192, 203, 0);
    border-top: 57px solid white;
}
.footer-bottom img {
    /* max-width: 60%; */
    /* filter: drop-shadow(0px 3px 10px black); */
    /* color-interpolation-filters: srgb; */
    /* filter: drop-shadow(2px 4px 6px black); */
}
.foot-nav-cc {
    padding: 0px;
    list-style: none;
    width: 100%;
    margin: 2em auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.foot-nav-cc li {
    float: left;
    font-size: 14px;
    margin: 0px 20px;
}
.foot-nav-cc li a{
    color:#2a2a2aab;
    text-decoration: none;
}
.social-link{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.social-link li {
    font-size: 14px;
    margin: 10px 9px 0px 0px;
    float: left;
    padding: 16px;
}
.social-link li a{
    color:#2a2a2aab;
    text-decoration: none;
}
.copyright-text, .copyright-text a {
    font-size: 12px;
    color:#2a2a2aab;
    text-decoration: none;
}
.made-in-india {
    text-align: justify;
    font-size: 10px;
    width: 80%;
    float: right;
    color: #69696d;
    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;
}
.made-in-india img{
    width: 100px;
}
.store-title {
    font-size: 54px;
    padding: 0.5em 0 0.5em;
    font-weight: bold;
    color: #ff8000;
}
.querty-title {
    font-size: 40px;
    font-weight: 800;
}
.form-box {
    width: 100%;
    padding: 1em 2em;
    font-weight: 800;
    color: #41464b;
}
.form-box input[type="name"], input[type="email"], input[type="text"], .form-box textarea, .form-box select {
    background: none;
    border: 1px solid #ff80004a;
    padding: 10px;
    border-radius: 0px;
    color: #ffb56a;
}
.form-box input::placeholder{
    color:#ffb56a;
    font-size: 14px;
}
.submit-button {
    width: 121px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #ff8000;
    border: none;
    margin: 13px 0px;
}

.foot-logo img {
    max-width: 50%;
}


/*--- custom --*/
.client-comment p {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0px;
    color: #404040;
}
.client-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #5b5b5b30;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    position: relative;
    margin: 1rem 2rem;
    background-repeat: no-repeat;
}
.client-img {
    border-radius: 10px;
    position: relative;
    width: 30%;
    display: block;
}

.client-content {
    width: 64%;
}
.client-img {
    border-radius: 10px;
    left: -40px;
    /* top: 50%; */
}
.client-img img {
    max-width: 155px;
    width: 200px;
    min-width: 160px;
    min-height: 160px;
    height: 140px;
}
.see-product-btn{
  font-size: 12px;
  margin: 10px 0px;
  padding: 8px 15px;
}
.client-name p {
    font-size: 20px;
    color: #434342;
    font-weight: 600;
    margin: 0px;
}
.client-name span{
font-size: 12px;
color: #757575;
font-weight: 200;
}

.rating span i{
  color:green;
   background:-webkit-linear-gradient(#efff00, #fc7e00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.client-comment {
    max-height: 76px;
    scroll-behavior: auto;
    overscroll-behavior-y: auto;
    overflow-y: scroll;
}

.client-comment::-webkit-scrollbar{
	width: 1px
}
.client-comment::-webkit-scrollbar-track{
	background: rgba(216, 216, 216, 0.04)
}
.client-comment::-webkit-scrollbar-thumb{
	background: #d4f6ff}
/*--- store branch slider css--*/
.store_branch {
    padding: 37px 0px;
    margin:0px;
}
/* Slider */
/* Slider */

/* .slick-slide {
    margin: 0px 20px;
} */

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: flex;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.wrapper {
    margin: 0 auto;
  }
  
  .wrapper > div {
      /* border: 0; */
      border-radius: 5px;
      background-color: rgb(248 248 248);
      /*padding: 0em;
      color: #d9480f; */
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  /* .one {
      grid-column: 1 / 3;
      grid-row: 1;
  } */
  .one , .two, .three, .four, .five{
    overflow: hidden;
    position: relative;
  }
  .one img, .two img, .three img, .four img, .five img{
    transform: scale(1.1);
          -webkit-transform: scale(1.1);
      transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease;
        width: -webkit-fill-available;
  }
  .one:hover img, .two:hover img, .three:hover img, .four:hover img, .five:hover img{
          transform: scale(1);
          -webkit-transform: scale(1);
      }
  /* .two {
      grid-column: 3 / 5;
      grid-row: 1;
  } */
  .three {
      grid-column: 1 / 3;
      grid-row: 1 / 5;
  }
  .four {
      grid-column: 3;
      grid-row: 1 / 5;
  }
  .five {
      grid-column: 4;
      grid-row: 1 / 5;
  }
  .text-img-grid {
      position: absolute;
      z-index: 1;
      text-align: end;
      right: 35px;
      top: 20px;
      font-size: 1.6rem;
      color: #5f5f5f;
      font-weight: 600;
      text-transform: uppercase;
      /* text-decoration: underline; */
      line-height: 1.2;
  }
/*--media query --*/

@media (max-width:1600px) {
    .column {
        height: 460px;
    }
    .headbanner {
        background-image: url(../img/jaipurbanner.jpg);
    }
}

@media (max-width: 1400px) {
    .headbanner {
        background-image: url(../img/jaipurbanner.jpg);
        padding: 40px 0px;
    }
    .web-heading1, .web-heading2 {
        font-size: 36px;
    }
    .product-heading {
        font-size: 16px;
    }
    .contnt-ss {
        padding: 0em 3em 0em;
    }
    .gl-img1 {
        height: 333px;
    }
    .gl-img2 {
        height: 331px;
    }
    .store-title {
        font-size: 40px;
    }
    .navbar-brand img {
        width: 58%;
    }
}

@media (max-width: 1200px) {
    #carouselExampleIndicators {
        height: 74vh;
    }
    .contnt-ss {
        padding: 0em 1em 0em;
    }
    .wooden-s {
        padding: 7em 1em;
    
    }
    
}

@media (max-width: 1024px) {
    .headbanner {
        background-image: url(../img/jaipurbanner.avif);
    }
    .client-name p{
        font-size: 16px;
    }
    /* .slick-slide img {
        width: 65%;
    } */
    .client-img img {
        max-width: 105px;
        width: 105px;
        min-width: 105px;
        min-height: 90px;
        height: 90px;
    }
    .web-heading1, .web-heading2 {
        font-size: 29px;
        margin: 0px 0px 8px;
    }

    .map-outer {
        height: 460px;
        min-height: 460px;
    }

    .contact-outer {
        padding: 56px;
    }
    .store-title {
        font-size: 35px;
    }
    .img-grid .img-content h6 {
        font-size: 20px;
    }
   .column{
height:375px;
   }
   .three, .four, .five   {
    grid-row: 1 / 3;
}
.footer-bottom {
    margin-top: 7em;
}
.headbanner h1 {
    font-size: 3rem;
}
}

@media (max-width: 992px) {
    
    .headbanner {
        background-image: url(../img/jaipurbanner.avif);
    }
    .outer-sec {
        display: block;
    }

    .wooden-s {
        padding: 5em 2em;
    }
    #carouselExampleIndicators {
        height: 62vh;
    }
    .column {
        height: 353px;

    }
    .img-grid .img-content {
        padding: 0px 7px;
    }
    .img-grid .img-content h6 {
        font-size: 20px;
    }
    .img-grid .img-content span {
        text-align:start;
        float: left;
        font-size: small;
    }


    .wooden-s {
        padding: 4em 0em;
    }
    .width-50 {
        width: 100%;
        display: block;
    }
    .outer-sec2 {
        display: block;
    }
    .map {
        left: 0;
    }
    .web-heading1, .web-heading2, .web-para{
        text-align: center;
    }
    .foot-logo {
        text-align: center;
    }
    .social-link {
        float: none;
        list-style: none;
        display: flex;
        margin: 6px auto;
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    .foot-logo {
        text-align: center;
        margin: 3em 0em 0em;
    }
    .made-in-india {
        text-align: center;
        width: 100%;
        float: none;
        margin: 27px 0px 0px;
        display: block;
    }
}

@media (max-width: 768px) {
    .headbanner {
        background-image: url(../img/jaipurbanner.avif);
    }
    .navbar-light .navbar-brand {
        width: 52%;
    }
    .footer-bottom {
        margin-top: 3em;
    }
    .map {
        top: 0rem;
    }
    .img-grid {
        width: 100%;
    }
    .img-grid .img-content {
        position: relative;
    }
    #carouselExampleIndicators {
        height: 27vh;
    }
    .call-now-btn {
     
        padding: 9px 16px;

    }

    .progres-box {
        width: 100%;
        margin-bottom: 0px;
    }

    .web-heading1, .web-heading2 {
        font-size: 28px;
    }
    .contnt-ss {
        padding: 0em 0em 0em;
    }
    .column {
        -ms-flex: 25% !important;
        flex: 100%;
        max-width: 100%;
        padding: 0 0px;
        width: 100%;
        margin: 0px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        scroll-padding-inline: 20px;

    }
    .map-outer {
        height: auto;
        min-height: 600px;
    }
    .text-img-grid {
        right: 13px;
        top: 9px;
        font-size: 1.3rem;
    }
    .foot-logo img{
        width: 25%;
    }
}

@media (max-width: 576px) {
    .wrapper {
        grid-template-columns: repeat(2,1fr);
    }
    .three {
        grid-column: 1/3;
        grid-row: 1;
    }
    .four {
        grid-column: 1;
        grid-row: 2;
    }
    .five {
        grid-column: 2;
        grid-row: 2;
    }
    .headbanner {
        background-size: cover;
    }
    .map-outer {
        height: auto;
        min-height: 300px;
    }
    .client-content {
    width: 100%;
}
   
    .headbanner h1 {
        font-size: 2rem;
    }
    .headbanner p {
        font-size: 1.5rem;line-height: 1.5;}
        .offer p {
            font-size: 1rem!important ;}
            .off {
                font-size: 36px;
            }
    .text-img-grid{
        font-size: 17px;
    }
    .navbar-light .navbar-brand {
        width: 210px;
    }
    .navbar-brand img {
        width: 60%;
    }
    .menu-bar-web {
        /* position: relative;
        background: #ffffff;
        margin: 0 auto; */
        text-align: center;
    }
    .call-now-btn {
        font-size: 12px;
        border-radius: 9px;
        margin: 0 auto;
        padding: 9px 20px;
    }

    .web-heading1, .web-heading2 {
        font-size: 20px;
    }
    .web-para {
        font-size: 12px;
    }
    #carouselExampleIndicators {
        height: 24vh;
    }

    .gl-img1, .gl-img2{
        height: 280px;
    }
    .contact-outer {
        padding: 30px;
    }
    .address {
        font-size: 12px;
    }

    .wooden-s {
        padding: 2em 0em;
    }
    .foot-logo {
        margin: 7em 0em 1em;
    }
    .footer-bottom:before {
        width: 100%;
        border-top: 49px solid white;
    }
    .store-title {
        font-size: 25px;
    }
    .shopnow-btn {
        padding: 5px 28px;
        margin: 8px 0px;
    }
}

@media (max-width: 440px) {
    .slick-initialized .slick-slide
    {
        display: block;
    }
    .client-img {
        left: 0;
    }
    #carouselExampleIndicators {
        height: 17vh;
    }
    .owl-nav .owl-next {
        right: -19px;
    }
    .owl-nav i {
        font-size: 38px;
    }
    
    .owl-nav .owl-prev {
        left: -19px;
    }
    .navbar-light .navbar-brand {
        width: 52%;
    }
    .navbar-brand img {
        width: 51%;
    }
    .about-ss::after {
        height: 30px;
        width: 306px;
    }
    .img-grid {
        width: 100%;
        height: 100%;
        flex: 50%;
        min-width: 100%;
    }
    .gl-img1, .gl-img2 {
        height: 170px;
    }

    .navbar-brand {
        margin:0;
    }
    .navbar-light .navbar-brand {
        width: 44%;
    }
    .navbar-brand img {
        width: 100%;
    }
    .call-now-btn {
        font-size: 12px;
        padding: 9px 14px;
        margin: 0;

    }

    .pp-price {
        width: 93px;
        padding: 5px 7px;
    }
    .foot-logo {
        margin: 4em 0em 1em;
    }
    .foot-logo img {
        width: 44%;
    }
}
