
  <center>
   
    <h1>Show Image</h1>
    <table>
      <tr>
        <th>Image</th>
        </tr>
       
        {% for product in products %}
         <tr>

         <td>{{ product.image }}</td>
        </tr>
    {% endfor %}
    
      </table>
 </center>


    
