

{{ customerstories }}

<!--sign in signup popup-->
    <div id="signuppopup" class="modal fade" role="dialog">
        <div class="modal-dialog popup_content">
            <!-- Modal content-->
            <div class="modal-content p-0">
                <div class="modal-header">
                    <button type="button" class="popup-close2 close" data-bs-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body m-0 p-0">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-6 width-30">
                        <picture>
                            <source srcset="catalog/view/javascript/assets/image/popupimg/slider1.avif" type="image/avif">
                                <img src="catalog/view/javascript/assets/image/popupimg/slider1.webp"  class="img-responsive img-fluid" alt="x-mas offer avail now" loading="lazy"/>
                        </picture>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-6 width-70">

                            <!--- sign in form-->
                            <div class="signin-form-popup signupform1 notification-container selected">
                                <div class="from-header">
                                    <h6>
                                        Welcome to
                                        <br>
                                        <span>
                                            UrbanWood</span>
                                    </h6>
                                    <p>Glad to See You!</p>
                                </div>
                                <div class="popup-signform">
                                    <form method="post" enctype="multipart/form-data" class="loginform">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address" required="">
                                            </div>
                                            <div class="col-md-12 ">
                                                <input type="password" name="password" class="form-control password" autocomplete="current-password" required="" id="id_password_login" placeholder="Password">
                                                <i class="far fa-eye-slash" id="togglePassword"></i>
                                            </div>
                                            <div class="d-block">
                                                <button type="submit" class="login-btn-popup" id="loginbtn">Login</button>
                                                <a href="#" class="forget-pass text-center">Forget password?</a>
                                                <p class="text-center dont-accont">Dont Have an Account ?
                                                    <a href="" id="showFilePanel">Sign Up Now</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- sign up for first time form -->
                            <div class="signin-form-popup signupform2 notification-container2 dismiss">
                                <div class="from-header">
                                    <h6>
                                        Start journey with us
                                        <br>
                                        <span>
                                            Create an Account
                                        </span>
                                    </h6>
                                    <p class="mb-0">Welcome!</p>
                                </div>
                                <div class="popup-signform">
                                    <form method="post" enctype="multipart/form-data" class="registerform">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 ">
                                                <input type="name" name="firstname" class="form-control mt-0 mb-1" id="exampleInputFirstname" placeholder="First Name" required="">
                                            </div>
                                            <div class="col-md-6 col-lg-6 ">
                                                <input type="text" name="lastname" class="form-control mt-0 mb-1" id="exampleInputlastname" placeholder="Last Name" required="">
                                            </div>
                                            <div class="col-md-12 ">
                                                <input type="email" name="email" class="form-control mt-0mb-1" id="giveInputEmail1" placeholder="Email Address" required="">
                                            </div>
                                            <div class="col-md-12 ">
                                                <input type="text" name="telephone" class="form-control mt-0 mb-1" id="giveInputnumber" placeholder="contact Number" required="">
                                            </div>
                                            <div class="col-md-12">
                                                <input type="password" name="password" class="form-control password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
                                                <i class="far fa-eye" id="togglePassword"></i>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="password" name="confirm" class="form-control password" autocomplete="current-password" required="" id="id_password1" placeholder="Confirm password">
                                                <i class="far fa-eye" id="togglePassword"></i>
                                            </div>
                                            <div class="d-block">
                                                <button type="submit" class="login-btn-popup" id="signupbtn">Sign up</button>
                                                <p class="text-center dont-accont mb-0">Already Have an Account ?
                                                    <a href="" id="closeFilePanel">Sign in Now</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end popup-->
<footer id="footer">
    <div class="container container-custom">
        <div class="row">
            <div class="footer-newsletter">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="pg-heading text-lg-start">Subscribe Our Newsletter</h2>
                    <p class="heading-para text-lg-start ">Enter your email address to stay tuned with latest offers and products.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" id="newsletterdiv">
                    <form id="newsletter-form" method="post">
                        <input type="email" name="email" placeholder="Enter your email address &hellip;">
                    </form>
                    <button type="button" onclick="newsletter('newsletter-form');">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top d-md-block d-none">
        <div class="container container-custom">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-info">
                    <h4>Contact Info</h4>
                    <p>We at Urbanwood would love to hear your opinion about our venture.</p>
                    <ul class="contact-list">
                        <li>
                            <span><i class='bx bxs-map'></i></span>
                            URBANWOOD FURNITURE PRIVATE LIMITED 843 , Gram Basdi , mukandpura Road , Bhankrota , Ajmer road , Jaipur , Rajasthan , 302026
                        </li>
                        <li>
                            <span><i class='bx bxs-phone'></i></span>+91 9599283126
                        </li>
                        <li>
                            <span><i class='bx bx-envelope'></i></span>
                            support@urbanwood.in
                        </li>
                    </ul>
                    <div class="map">
                        {# <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6927478024973!2d80.2163412!3d12.991493199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526762150b2b4d%3A0x604a15e2d0121e2f!2sHome%20Stop!5e0!3m2!1sen!2sin!4v1669466511215!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> #}
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8464.63748094388!2d75.67557823362041!3d26.8735946658894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4b5249d22c75%3A0x75e51e084adffa67!2sUrbanwood%20-%20Wooden%20Furniture%20Store%20In%20Jaipur!5e0!3m2!1sen!2sin!4v1690533267824!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="about-us">About us</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="contact-us">Contact us</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="career">Career</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="bulk-order">Bulk Order</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="https://blog.urbanwood.in/">Blog</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="sitemap">Sitemap</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links ">
                    <h4>Customer Service</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="https://www.urbanwood.in/return-and-refunds">Return & Refunds</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="https://www.urbanwood.in/terms">Terms of Uses</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="https://www.urbanwood.in/security-and-privacy">Security & Privacy</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="https://www.urbanwood.in/delivery-and-shipping-policy">Delivery & Shipping Policy</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="customer-stories">Customer Stories</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links ">
                    <h4>Top Categories</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="bedroom-furniture">Bedroom</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="sofas">Sofas</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="dining-room-furniture">Dining Room</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="wardrobes">Wardrobes</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="bookshelves">Bookshelves</a>
                        </li>
                    </ul>
                    <div class="social-links mt-3">
                        <h4>Follow us-</h4>
                        <a href="https://twitter.com/UrbanWoodin" class="twitter">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/urbanwood.in" class="facebook">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/urbanwoodpvtltd/" class="instagram">
                            <i class="bx bxl-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/urbanwood-in" class="linkedin">
                            <i class="bx bxl-linkedin"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCkW0cO6VRZbakl61qEnKelg?view_as=subscriber">
                            <i class='bx bxl-youtube'></i>
                        </a>
                        <a href="https://in.pinterest.com/urbanwoodIndia/_created/">
                            <i class='bx bxl-pinterest-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifooter d-block d-md-none">
        <div class="map"> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6927478024973!2d80.2163412!3d12.991493199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526762150b2b4d%3A0x604a15e2d0121e2f!2sHome%20Stop!5e0!3m2!1sen!2sin!4v1669466511215!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container container-custom">
            <ul id="accordion_mob1" class="accordion-footer">
                <li class="open">
                    <div class="link"><i class='bx bxs-building-house' ></i>CONTACT INFO<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu" style="display: block;">
                        <li><span> <i class='bx bxs-map'></i></span> URBANWOOD FURNITURE PRIVATE LIMITED
                            843 , Gram Basdi , mukandpura Road , Bhankrota , 
                            Ajmer road , Jaipur , Rajasthan , 302026</li>
                        <li> <span><i class='bx bxs-phone'></i></span>+91 9599283126</li>
                        <li><span> <i class='bx bx-envelope' ></i></span> support@urbanwood.in </li>
                    </ul>
                </li>
                <li>
                  <div class="link"><i class='bx bxs-paper-plane'></i>USEFUL LINKS<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="about-us">About us</a></li>
                    <li><a href="contact-us">Contact us</a></li>
                    <li><a href="career">Career</a></li>
                    <li><a href="bulk-order">Bulk Order</a></li>
                    <li><a href="https://blog.urbanwood.in/"> Blog</a></li>
                    <li><a href="sitemap"> Sitemap</a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class='bx bxs-message-square-error' ></i>CUSTOMER SERVICE<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li> <a href="https://www.urbanwood.in/return-and-refunds">Return & Refunds</a></li> 
                    <li> <a href="https://www.urbanwood.in/terms-of-use">Terms of Uses</a></li> 
                    <li> <a href="https://www.urbanwood.in/payment-policy">Privacy policy</a></li> 
                    <li> <a href="https://www.urbanwood.in/security-and-privacy">Security & Privacy</a></li> 
                    <li> <a href="https://www.urbanwood.in/customer-stories">Customer Stories</a></li> 
                    <li> <a href="https://www.urbanwood.in/delivery-and-shipping-policy">Delivery & Shipping Policy</a></            li>
                  </ul>   
                </li>
                <li>
                  <div class="link"><i class='bx bxs-category-alt' ></i>TOP CATEGORIES<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li> <a href="bedroom-furniture">Bedroom</a></li> 
                    <li> <a href="sofas">Sofas</a></li> 
                    <li> <a href="dining-room-furniture">Dining Room</a></li> 
                    <li> <a href="wardrobes">Wardrobes</a></li> 
                    <li> <a href="bookshelves">Bookshelves </a></li>     
                  </ul>
                </li>
            </ul>
            <div class="mobisocial mt-3">
                <a href="https://twitter.com/UrbanWoodin" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/urbanwood.in" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/urbanwoodpvtltd/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/urbanwood-in" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCkW0cO6VRZbakl61qEnKelg?view_as=subscriber"><i class='bx bxl-youtube'></i></a>
                <a href="https://in.pinterest.com/urbanwoodIndia/_created/"><i class='bx bxl-pinterest-alt'></i></a>
            </div>
        </div>
    </div>
    <div class="bottom-foot">
        <div class="location-list text-center">
            We Deliver in : Ahmedabad, Amritsar, Bangalore, Chandigarh,
            <br>
            Faridabad, Ghaziabad, Gurgaon, Indore, Jaipur, Jodhpur, Mumbai, Delhi, Noida, Pune, Surat, Ludhiana, Udaipur, Kanpur, Lucknow, Bhopal, Raipur, Ranchi, Patna & Across India.
        </div>
        <div class="copyright">
            &copy; Copyright
            <strong>
                <span>
                    <a href="https://www.urbanwood.in/" target="_blank">urbanwood.in
                    </a>
                </span>
            </strong>. All Rights Reserved
        </div>
    </div>
</footer>
<button type="button" class="SmoothmyTop">
    <i class='bx bx-up-arrow-alt'></i>
</button>
<script src="catalog/view/javascript/assets/js/bootstrap.bundle.min.js"></script>
                    <script src="catalog/view/javascript/assets/js/jquery1.1.1.min.js"></script>
                    <script src="catalog/view/javascript/assets/js/jquery-ui.min.js"></script>
                    <script src="catalog/view/javascript/assets/js/owl.carousel.js"></script>
                    <script src="catalog/view/javascript/assets/js/slick-js.js"></script>
                    {#<script src="catalog/view/javascript/assets/js/swiper-bundle.min.js"></script>#}
                    <script src="catalog/view/javascript/assets/js/mob-menu.js"></script>
                    <script src="catalog/view/javascript/common.js?v=1.5" type="text/javascript"></script>
                    <script src="catalog/view/javascript/bootstrap-slider.js" type="text/javascript"></script>
                    {# // <script type="text/javascript" src="catalog/view/javascript/assets/addto-cart-zoom/web.js"></script>
                    // <script type="text/javascript" src="catalog/view/javascript/assets/addto-cart-zoom/jquery.ez-plus.js"></script> #}
</div>
<script type="text/javascript">
                      $(document).ready(function(){                       
                        $('#demo').carousel({interval: 3000})
                     });
                </script>
   <style>
   .floating-wpp-button{
        width: 47px;
        height: 47px;
   }
   </style>
<script type="text/javascript" src="catalog/view/javascript/assets/js/floating-wpp.min.js?v=1.1"></script>
   <div id="WAButton"></div>
   <script>
   $(function() {
         $('#WAButton').floatingWhatsApp({
phone: '919599283126', //WhatsApp Business phone number International format-
//Get it with Toky at https://toky.co/en/features/whatsapp.
headerTitle: 'Chat with us on WhatsApp!', //Popup Title
popupMessage: 'Hello, how can we help you?', //Popup Message
showPopup: true, //Enables popup display
buttonImage: '<svg style="isolation:isolate" viewBox="0 0 800 800" width="800" height="800"><defs><clipPath id="_clipPath_A3g8G5hPEGG2L0B6hFCxamU4cc8rfqzQ"><rect width="800" height="800"/></clipPath></defs><g clip-path="url(#_clipPath_A3g8G5hPEGG2L0B6hFCxamU4cc8rfqzQ)"><g><path d=" M 787.59 800 L 12.41 800 C 5.556 800 0 793.332 0 785.108 L 0 14.892 C 0 6.667 5.556 0 12.41 0 L 787.59 0 C 794.444 0 800 6.667 800 14.892 L 800 785.108 C 800 793.332 794.444 800 787.59 800 Z " fill="rgb(37,211,102)"/></g><g><path d=" M 508.558 450.429 C 502.67 447.483 473.723 433.24 468.325 431.273 C 462.929 429.308 459.003 428.328 455.078 434.22 C 451.153 440.114 439.869 453.377 436.434 457.307 C 433 461.236 429.565 461.729 423.677 458.78 C 417.79 455.834 398.818 449.617 376.328 429.556 C 358.825 413.943 347.008 394.663 343.574 388.768 C 340.139 382.873 343.207 379.687 346.155 376.752 C 348.804 374.113 352.044 369.874 354.987 366.436 C 357.931 362.999 358.912 360.541 360.875 356.614 C 362.837 352.683 361.857 349.246 360.383 346.299 C 358.912 343.352 347.136 314.369 342.231 302.579 C 337.451 291.099 332.597 292.654 328.983 292.472 C 325.552 292.301 321.622 292.265 317.698 292.265 C 313.773 292.265 307.394 293.739 301.996 299.632 C 296.6 305.527 281.389 319.772 281.389 348.752 C 281.389 377.735 302.487 405.731 305.431 409.661 C 308.376 413.592 346.949 473.062 406.015 498.566 C 420.062 504.634 431.03 508.256 439.581 510.969 C 453.685 515.451 466.521 514.818 476.666 513.302 C 487.978 511.613 511.502 499.06 516.409 485.307 C 521.315 471.55 521.315 459.762 519.842 457.307 C 518.371 454.851 514.446 453.377 508.558 450.429 Z  M 401.126 597.117 L 401.047 597.117 C 365.902 597.104 331.431 587.661 301.36 569.817 L 294.208 565.572 L 220.08 585.017 L 239.866 512.743 L 235.21 505.332 C 215.604 474.149 205.248 438.108 205.264 401.1 C 205.307 293.113 293.17 205.257 401.204 205.257 C 453.518 205.275 502.693 225.674 539.673 262.696 C 576.651 299.716 597.004 348.925 596.983 401.258 C 596.939 509.254 509.078 597.117 401.126 597.117 Z  M 567.816 234.565 C 523.327 190.024 464.161 165.484 401.124 165.458 C 271.24 165.458 165.529 271.161 165.477 401.085 C 165.46 442.617 176.311 483.154 196.932 518.892 L 163.502 641 L 288.421 608.232 C 322.839 627.005 361.591 636.901 401.03 636.913 L 401.126 636.913 L 401.127 636.913 C 530.998 636.913 636.717 531.2 636.77 401.274 C 636.794 338.309 612.306 279.105 567.816 234.565" fill-rule="evenodd" fill="rgb(255,255,255)"/></g></g></svg>',//'<img src="images/waaa.png" />', //Button Image
headerColor: '#fc7e00', //Custom header color
//backgroundColor: 'crimson', //Custom background button color
position: "right"
});
      });
      </script>

<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbarbottom").style.bottom = "10px" ;
  } else {
    document.getElementById("navbarbottom").style.bottom = "-50px" ;
  }
  prevScrollpos = currentScrollPos;
}
</script>

{% if logged is null %}
<script>

    $(document).ready(function () {
        if (getCookie('modal_shown') == null) {
            
            setTimeout(function () {
                setCookie('modal_shown', 'yes', 1);
                $('#signuppopup').modal('show');
            }, 5000);
        }
    });


    function getCookie(cName) {
      const name = cName + "=";
      const cDecoded = decodeURIComponent(document.cookie); //to be careful
      const cArr = cDecoded .split('; ');
      let res;
      cArr.forEach(val => {
          if (val.indexOf(name) === 0) res = val.substring(name.length);
      })
      return res;
    }

    function setCookie(cName, cValue, expDays) {
        let date = new Date();
        date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
    }
    </script>
{% endif %}
<script>
    $('.select-items div').click(function(){
        
        if($(this).text()=='Jaipur') location.href='furniture-shop-in-jaipur';
        if($(this).text()=='Gurugram') location.href='furniture-shop-in-gurgaon';
        if($(this).text()=='Bangalore') location.href='furniture-online-bangalore';
    });
    function signupmodal(){
        $('#signuppopup').modal('show');
        document.getElementById("showFilePanel").click();
    }
    function signinmodal(){
        $('#signuppopup').modal('show');
        
    }
    function signinmodal(){
        $('#signuppopup').modal('show');
    }
</script>
<script>
    $('#showFilePanel').click(function(event) {
  if ($('.notification-container').hasClass('selected')) {
    $('.notification-container2').removeClass('dismiss').addClass('selected').show();
    $('.notification-container').removeClass('selected').addClass('dismiss').hide();
  } else {
    $('.notification-container').removeClass('dismiss').addClass('selected').show();
    $('.notification-container2').removeClass('selected').addClass('dismiss').hide();
  }
  event.preventDefault();
});

$('#closeFilePanel').click(function(event) {
  if ($('.notification-container2').hasClass('selected')) {
    $('.notification-container2').removeClass('selected').addClass('dismiss').hide();
    $('.notification-container').removeClass('dismiss').addClass('selected').show();
  } else {
    $('.notification-container2').removeClass('dismiss').addClass('selected').show();
    $('.notification-container').removeClass('selected').addClass('dismiss').hide();
  }
  event.preventDefault();
});
</script>
 {# for profile and order tab  #}
<script>
 $(document).ready(function() {
  var last_id = localStorage.getItem('tab_id');
  if(last_id) {
    $('ul.nav-pills li a').removeClass('active');
    $('#v-pills-tabContent .tab-pane').removeClass('active show');
	$(".nav-pills li a").eq(Number(last_id.match(/\d+/)[0])-1).addClass('active');
    $("#" + last_id).addClass('active show');
  }
  $('ul.nav-pills li a').click(function() {
    var tab_id = $(this).attr('data-tab');
    console.log(tab_id);
    $('ul.nav-pills li a').removeClass('active');
    $('.tab-pane').removeClass('active show');

    $(this).addClass('active');
    $("#" + tab_id).addClass('active show');
    localStorage.setItem('tab_id', tab_id);
  });
});
</script>
{# for feedback form #}
<script>
$('#feedbackform').submit(function(e) {
 e.preventDefault();
  var form = $(this);
 $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '?route=account/account/feedback',
    data: form.serialize(),
    success: function (json) {
        $('#feedback_btn').prop('disabled', true)
        window.location = '?route=account/account';
        //console.log('add success');
    }

});
});
</script>

<script>
{# to open order page #}
    function toOrderpage(){
        localStorage.setItem('tab_id', 'home2');
        window.location.href='account';
    }
    {# to open profile page #}
    function toProfilepage(){
        localStorage.setItem('tab_id', 'home1');
        window.location.href='account';
    }
</script>
<script>
 function submitRequest(idd,btn){
   if(!formRule(idd)) return false;
    $('#'+btn).text('Processing...');
   
    $.ajax({
      url:'?route=store/singlestorepage',
      data:$('#'+idd + ' :input').serialize(),
      type:'POST',
    // dataType:'JSON',
    success:function(res){      
        location.href = 'thank-you';
      
    }
  });
  }
</script>
{# category read more button #}
<script>
  $(document).ready(function () {
      $('#btAnimate').click(function () {

          $('#divC').show();          // Also show the div element.
          $('#btAnimate').hide('slow');
      });

      // Reverse animate.
      $('#btHide').click(function () {
          $('#divC').hide('slow');          // Now hide the div.
          $('#btAnimate').show('slow');
      });
  });
</script>
{# for sorting #}
<script>
function stickyheaddsadaer(obj) {
  if($(obj).is(":checked")){
    $('input.form-check-input').not(obj).prop('checked', false);  
    
    location = $(obj).val(); 
  }
}
</script>
  <script>
// share button of product

    $('.share').click(function(){
      $(this).siblings().toggleClass('opacity-0 opacity-1');

});   
  </script>
{# open wishlist #}
    <script>

        function openCart(evt, CartName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent-popup");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(CartName).style.display = "block";
            evt.currentTarget.className += " active";
          }
    function openWishlist(elm){
        openCart(event, 'mywishlist');
        $('#wlbtn').addClass('active');
        $.ajax({
            url:'?route=account/wishlist/wlist',
            type:'POST',
            dataType:'JSON',
            success:function(res){     
                var wlist = '';
                if(res['status']){
                    wlist += '<div class="empty-desktop-cart">  <div class="con-for-empty-order">    <h6>I Feel So Bad!</h6>    <p>Can\'t see wishlist! <b>Login</b></p>  </div>  <div class="empty-cart-img">    <img loading="lazy" src="catalog/view/javascript/assets/image/icon/notisignin.png" alt="empthy-cart"></div>   <a href="" class="cart-shop-btn">Shop Now</a></div>';
                }else if(res['witems']){
                    wlist += '<div class="empty-desktop-cart"><div class="con-for-empty-order"><h6>I Feel So Bad!</h6><p>Cause am <b>Empty</b></p></div><div class="empty-cart-img"><img loading="lazy" src="catalog/view/javascript/assets/image/icon/empthy-cart-desktop.png" alt="empthy-cart"></div><a href="" class="cart-shop-btn">Shop Now</a></div>';
                }else{
                
                    $.each(res.data, function (i, currProgram) {
    
                    // console.log(currProgram); 
                        wlist += '<div class="mb-3">   <div class="list-of-cart">    <a href="#remove-cart-drop" class="position-absolute top-0 text-black-50 fw-normal fs-6" data-bs-toggle="collapse" style="right:10px;z-index: 9;"><i class="fas fa-times"></i></a>    <!-- <button type="button" class="btn-close text-reset" aria-label="Close" style="font-size:8px;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></button> -->    <div class="d-flex align-items-center">      <div class="pp-img-cart">        <div class="heart-wish">          <i class="fas fa-heart"></i>        </div>        <div class="cart-img">        <img src="'+ currProgram.thumb +'" class="img-fluid img-responsive">      </div>      </div>      <div class="cart-deatils">        <div class="d-flex justify-content-start my-2">          <div class="cart-p-name">'+ currProgram.name +'  <br> <span class="pp-quality-name">Premium chair </span></div>           <div class="my-cart-price">'+ currProgram.special +'</div>        </div>        <div class="d-flex justify-content-between my-2">          <ul class="btn-list-cart">           <li> <button  class="buy-now-btn" onclick="cart.add('+ currProgram.product_id +','+ undefined +',1);">Move to Cart</button> </li>           </ul>      </div>      </div>    </div>  </div>  <div id="remove-cart-drop" class="collapse">  <div class="romove cart-pop-bottom"> <div class="con-rem" >  <p>Are you sure you want to remove this item from cart? </p></div>   <div class="rem-btn-sec">  <a class="btn remove-cart-btn mx-1" href="'+ currProgram.remove +'"> remove</a>  <button class=" mx-1 move-wishlist-btn"> move to wishlist</button></div>  </div></div></div>';
                    });
                }
                $('#mywishlist').html(wlist);
                //$('#'+btn).text('Submit');
      
            }
        });
    }

    function openCart2(elm){
        openCart(event, 'mycart');
        $('#defaultOpen').addClass('active');
        $.ajax({
            url:'?route=checkout/cart/cartlist',
            type:'POST',
            dataType:'JSON',
            success:function(res){    
                //console.log(res); 
                var cartlist = '';
                 if(res.data == 'Empty'){
                    cartlist += '<div class="empty-desktop-cart"><div class="con-for-empty-order"><h6>I Feel So Bad!</h6><p>Cause am <b>Empty</b></p></div><div class="empty-cart-img"><img src="catalog/view/javascript/assets/image/icon/empthy-cart-desktop.png" alt="empthy-cart"></div><a href="" class="cart-shop-btn">Shop Now</a></div>';
                }else{
                    cartlist += '<form action="?route=checkout/cart/edit" method="post" enctype="multipart/form-data" class="cartForm">';
                    $.each(res.data.products, function (i, currProgram) {
                    
                        console.log(currProgram); 
                        cartlist += '<div class="mb-3">   <div class="list-of-cart">    <a href="#remove-cart-drop" class="position-absolute top-0 text-black-50 fw-normal fs-6" data-bs-toggle="collapse" style="right:10px;z-index: 9;"><i class="fas fa-times"></i></a>    <div class="d-flex align-items-center">      <div class="pp-img-cart">        <div class="cart-img">        <img src="' + currProgram.thumb +'" class="img-fluid img-responsive">      </div>      </div>      <div class="cart-deatils">        <div class="d-flex justify-content-start my-2">          <div class="cart-p-name">' + currProgram.name +'  <br> <span class="pp-quality-name">Premium chair </span></div>           <div class="my-cart-price">' + currProgram.price +'</div>        </div>        <div class="d-flex justify-content-between my-2">          <ul class="btn-list-cart">           <li> <a href="'+ res.data.checkout  +'" class="buy-now-btn">BUY NOW</a> </li>           <li><a href="" class="view-m-cart"> view more</a></li>          </ul>        <div class="quantity-bar">          <div class="countItem">    <span class="btn-minus minus" onclick="minusPro(this);" data-id="' + currProgram.cart_id +'"><span class="fa fa-minus"></span></span>            <input name="quantity[' + currProgram.cart_id + ']" value="' + currProgram.quantity + '" class="count quantity cart_'+ currProgram.cart_id + '">   <span class="btn-plus plus" onclick="plusPro(this);"data-id="' + currProgram.cart_id +'"><span class="fa fa-plus"></span></span>    </div>        </div>        </div>      </div>    </div>  </div>  <div id="remove-cart-drop" class="collapse">  <div class="romove cart-pop-bottom"> <div class="con-rem" >  <p>Are you sure you want to remove this item from cart? </p></div>   <div class="rem-btn-sec">  <button class="btn remove-cart-btn mx-1" onclick="cart.remove('+ currProgram.cart_id +');"> remove</button>  <button type=button class=" mx-1 move-wishlist-btn"  onclick="wishlist.add('+ currProgram.product_id +','+currProgram.cart_id +');"> move to wishlist</button></div>  </div></div></div>';                    
                    
                    });
                    cartlist += '</form>';
                }
                $('#mycart').html(cartlist);
                //$('#'+btn).text('Submit');
      
            }
        });
    }
    function openOrder(elm){
        openCart(event, 'myorder');
        $('#orderlist').addClass('active');
        $.ajax({
            url:'?route=account/order/orderlist',
            type:'POST',
            dataType:'JSON',
            success:function(res){     
                var orderlist = '';
                if(res.status){
                    orderlist +='<div class="empty-desktop-cart">  <div class="con-for-empty-order">    <h6>I Feel So Bad!</h6>    <p>Can\'t see orders! <b>Login</b></p>  </div>  <div class="empty-cart-img">    <img loading="lazy" src="catalog/view/javascript/assets/image/icon/notisignin.png" alt="empthy-cart"></div>   <a href="" class="cart-shop-btn">Shop Now</a></div>';
                }else if(res.orderlist){
                    orderlist += '<div class="empty-desktop-cart"><div class="con-for-empty-order"><h6>I Feel So Bad!</h6><p>Cause am <b>Empty</b></p></div><div class="empty-cart-img"><img loading="lazy" src="catalog/view/javascript/assets/image/icon/empthy-cart-desktop.png" alt="empthy-cart"></div><a href="" class="cart-shop-btn">Shop Now</a></div>';
                }else{
                    $.each(res.data, function (i, currProgram) {
                    
                     //console.log(currProgram); 
                        $.each(currProgram.order_products, function (i, products) {
                            orderlist += '<div class="mb-3">  <div class="list-of-cart">    <a href="#remove-cart-drop" class="position-absolute" style="right: 7px; z-index: 9;color: #c7c7c7;font-size: 12px;font-weight: 100;top: 3px;"><i class="fas fa-chevron-right"></i></a>    <div class="d-flex align-items-center">      <div class="pp-img-cart">        <div class="cart-img">        <img loading="lazy" src="./assets/image/cart-img/mycart1.jpg" class="img-fluid img-responsive">      </div>      </div>      <div class="cart-deatils">        <div class="d-flex justify-content-between my-2">          ';
                    
                            orderlist += '<div class="cart-p-name">'+ products.name +' <br> <span class="pp-quality-name">Premium chair </span>            <div class="ordered-pricec">'+ products.p_total +'</div>          </div> <div class="cart-checkout">';      

                            if(currProgram.status == "Processing"){
                                orderlist +=  currProgram.status +'  <i class="fas fa-history" style="background:#6493da"></i>';
                            }else if(currProgram.status == "Complete"){
                                orderlist +=  currProgram.status +'  <i class="fas fa-check"></i>';
                            }else if(currProgram.status == "Canceled" || currProgram.status == "Failed"){
                                orderlist +=  currProgram.status +'  <i class="fas fa-times" style="background-color:#ff6a6a;"></i>';
                            }else{
                                orderlist +=  currProgram.status +'  <i class="fas fa-history" style="background-color:#ff6a6a;"></i>';
                            }
                            orderlist += '</div>        </div>      </div>    </div>    <div class="devider"> </div>    <div class="d-flex justify-content-start align-items-center my-2">    <div class="cart-order-time"><span class="month">December 14,</span> <span>2:33 PM</span></div>    <div class="dileverd-area"> Jaipur Bhakrota 302026 </div>    <div class="order-btn-sec">      <ul>        <li><a href="" class="re-order-btn remove-cart-btn">Reorder</a></li>        <li><a href="" class="rate-btn move-wishlist-btn">Rateme </a></li>      </ul>    </div>    </div>  </div> </div>';
                        });
                    });
                }
                $('#myorder').html(orderlist);
                //$('#'+btn).text('Submit');
      
            }
        });
    }
    </script>

<script>
function newsletter(idd){
    if(!formRule(idd)) return false;
        $.ajax({
            url:'?route=account/newsletter/subscribe',
            data:$('#'+idd).serialize(),
            type:'POST',
            dataType:'JSON',
            success:function(res){     
                $("#"+idd)[0].reset();
                //console.log(res);
                if(res.success){
                    $('body').prepend('<div class="success-popup ">	<span class="warrning-svg">	<svg id="smile"		width="35" height="35" viewBox="0 0 41 41" fill="none">	 <path d="M16.2432 29.9911L16.5968 30.3439L16.95 29.9907L30.5886 16.352L30.9422 15.9985L30.5886 15.6449L27.7128 12.7691L27.3593 12.4156L27.0057 12.7691L16.592 23.1828L12.2699 18.8682L11.9158 18.5148L11.5626 18.869L8.69086 21.7489L8.33792 22.1028L8.69174 22.4558L16.2432 29.9911ZM0.823975 20.662C0.823975 9.72375 9.72375 0.823975 20.662 0.823975C31.6002 0.823975 40.5 9.72375 40.5 20.662C40.5 31.6002 31.6002 40.5 20.662 40.5C9.72375 40.5 0.823975 31.6002 0.823975 20.662Z" stroke="#33C300"/>  </svg>	</span>	<span class="warrning-text">   <p>'+ res.success +'</p>	</span>;  </div>');
                }else{
                    $('body').prepend('<div class="success-popup2"> <span class="warrning-svg"> <svg id="smile2" width="35" height="35" viewBox="0 0 27 27" fill="none">  <path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/>     </svg>  </span> <span class="warrning-text">  <p>'+ res.error +'</p> </span> </div>');
                }
                //$('#newsletterdiv').after('<p>Error</p>');
            }
        });
    }
</script>
<script>


    function minusPro(e){
    var domse = $(e).siblings('.cart_'+$(e).data('id')).val();
    if(domse > 1){
      var newval = Number(domse)-1;
      $(e).siblings('.cart_'+$(e).data('id')).val(newval);
      $(e).parents('form:first').submit();
    }
  };
  function plusPro(e){
    var domse = $(e).siblings('.cart_'+$(e).data('id')).val();
    if(domse < 10){
      var newval = Number(domse)+1;
      $(e).siblings('.cart_'+$(e).data('id')).val(newval);
      $(e).parents('form:first').submit();
    }
  };
</script>
<script>
$("body").on('click', '#togglePassword', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $(this).siblings('.password');//$(".password");
  if (input.attr("type") === "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }

});

</script>
{#  check pincode #}
<script>
  var pinCheckKey = 1;
  function checkPincode(d){

    var pinc = $('#input-pincode').val();
    $('.pin_error').remove();
    if(pinc==''){
      errr = '<p style="color:red" class="pin_error">Enter Pincode to Check Delivery</p>';

      $('.pincode-msg').html(errr);
      return false;
    }
    if(!vp(pinc)){
     errr = '<p style="color:red" class="pin_error">Enter Valid Pincode!</p>';

     $('.pincode-msg').html(errr);
     return false;
   }
   if(pinCheckKey!=1){
    return false;
  }
  pinCheckKey = 0;
  d.html('<i class="fas fa-spinner fa-spin"></i>');
  $.ajax({
    url: '?route=product/product/checkPincode',
    type: 'post',
    data: 'pincode=' + pinc,

    success: function(json) {
      pinCheckKey = 1;
      if(json['success']){
      $('.pincode-msg').html('<p class="green pin_error" style="color:green"> Delivery options are available , <a href="tel:+ 91 9599283126">Call:+91  9599283126</a> </p><p class="green pin_error" style="color:green"> Made to Order, Customization available! </p>');
    }else{
        $('.pincode-msg').html('<p class="pin_error" style="color:red"> Delivery options not available , Call:+91  9599283126 </p>');
    }
      d.html('<i class="bx bx-search"></i>');
    },
    error: function(xhr, ajaxOptions, thrownError) {
      //alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      $('.pincode-msg').html('<p class="pin_error" style="color:red"> Sorry, delivery not available in your area </p>');
      //d.val('Check');
    }
  });
}
</script>
<script>
    $('.loginform').submit(function(e) {
 e.preventDefault();
  $('#loginbtn').text('Logging...');
  var form = $(this);
 $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '?route=account/login',
    data: form.serialize(),
    success: function (json) {
        //$('#feedback_btn').prop('disabled', true)
        //window.location = '?route=account/account';
         //console.log(json.data);
        if (json['success']) {
            location = '/account';
					
				}else{
					$('body').prepend('<div class="success-popup2"> <span class="warrning-svg"> <svg id="smile2" width="35" height="35" viewBox="0 0 27 27" fill="none">  <path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/>     </svg>  </span> <span class="warrning-text">  <p>'+ json.data['error_warning'] +'</p> </span> </div>');
				}
    }

});
});

$('.registerform').submit(function(e) {
 e.preventDefault();
 $('#signupbtn').text('Registering...');
  var form = $(this);
 $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '?route=account/register',
    data: form.serialize(),
    success: function (json) {
        //$('#feedback_btn').prop('disabled', true)
        //window.location = '?route=account/account';
         //console.log(json.data);
        if (json['success']) {
            location = '/';
					
				}else{
                    $('#signupbtn').text('SIGN UP');
					$('body').prepend('<div class="success-popup2"> <span class="warrning-svg"> <svg id="smile2" width="35" height="35" viewBox="0 0 27 27" fill="none">  <path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/>     </svg>  </span> <span class="warrning-text">  <p>'+ json.data['error_warning'] +'</p> </span> </div>');
				}
    }

});
});

function loginalert(){
        $('.success-popup2').remove();
    $('body').append('<div class="success-popup2"><span><svg id="smile2" width="45" height="45" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/></svg></span><span><h6>Alert</h6><p>Login to view wishlist </p></span></div>');
}
</script>
{% if not homepage %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Urbanwood Furniture Pvt Ltd",
  "alternateName": "Urbanwood",
  "url": "https://www.urbanwood.in/",
  "logo": "https://www.urbanwood.in/catalog/view/javascript/assets/image/urbanwoodlogo.jpg",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "9599283126",
    "contactType": "customer service",
    "contactOption": "TollFree",
    "areaServed": "IN",
    "availableLanguage": ["en","Hindi"]
  },
  "sameAs": [
    "https://www.facebook.com/urbanwood.in",
    "https://twitter.com/UrbanWoodin",
    "https://www.youtube.com/@urbanwood",
    "https://www.instagram.com/urbanwoodpvtltd/",
    "https://www.linkedin.com/company/urbanwood-in",
    "https://in.pinterest.com/urbanwoodIndia/_created/"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": "Urbanwood Furniture",
  "url": "https://www.urbanwood.in/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.urbanwood.in/search?search={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{% endif %}
{# <script src="catalog/view/javascript/assets/js/darg-n-drop.js"></script> #}
</body>
</html>