.trending_product_box {
    border:1px solid #ededed;
    border-radius: 0.3rem;
}
.product_img_ img {
    border-radius: 0.3rem 0.3rem 0 0;
}
.sale_badge {
    position: absolute;
    left: auto;
    right: 0px;
    background: #eee;
    padding: 4px 4px;
    top: 0px;
    display: inline-flex;
    width: 70px;
}
.p_item_name {  
    font-weight: 500;
    line-height: 2;
}
.p_item_amount {
    color: #7d7d7d;
    font-size: 14px;
    font-weight: 400;
}
.offer_tag{
    position: relative;
  }
  .new_arrival, .best_tag {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 0;
    width: max-content;
    height: fit-content;
    font-size: 12px;
    padding: .1rem .5rem;
    line-height: 1.1;
    color: #fff !important;
}
.new_arrival {
    background: #d34141;
}
.best_tag {
    background: #0068b1;
}
.new_arrival:after, .best_tag:after {
    position: absolute;
    content: '';
    width: .5vw;
    z-index: 1;
    top: 0;
    left: auto;
    border-right: 8px solid transparent;
}
.new_arrival:after {
    border-top: 8px solid #d34141;
    border-bottom: 8px solid #d34141;
    border-left: 8px solid #d34141;
}
.best_tag:after {
    border-top: 8px solid #0068b1;
    border-bottom: 8px solid #0068b1;
    border-left: 8px solid #0068b1;
}
  .game-section .item {
    margin: 0 8px 23px;
    width: 320px;
    height: 500px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .game-section ._item2 {
    margin: 0 10px 0px;
    width: 320px;
    height: auto;
    background:none;
  }
  .game-section ._item2:last-child {
    margin-right:0px;
  }
  .game-section .item.active {
    width: 500px;
  }
  .owl-carousel2 .owl-nav {
      display: block;
      width: 100%;
      position: absolute;
      top: 40%;
  }
  .owl-carousel2 .owl-nav .owl-prev, .owl-carousel2 .owl-nav .owl-next{
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    margin-right: 16px;
    background-color: #fff !important;
  }
  .owl-carousel2 .owl-nav .owl-prev {
      left: 0px !important;
      right: auto !important;
  }
  .owl-carousel2 .owl-nav .owl-next {
      left: auto !important;
      right: 6px !important;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .game-section .item {
      margin: 0 12px 30px;
      width: 260px;
      height: 360px;
    }
    .game-section ._item2 {
      width: 260px;
      height:auto !important;
  
    }
    .game-section .item.active {
      width: 400px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .game-section .item {
      margin: 0 12px 0px;
      width: 240px;
      height: 330px;
    }
    .game-section ._item2 {
      width: 240px;
      height:auto !important;
      margin: 0 12px 0px;
    }
    .game-section .item.active {
      width: 360px;
    }
  }
  @media (max-width: 767px) {
    .p_item_name {
      font-size: 14px;
    }
    .game-section .item {
      margin: 0 8px 15px;
      width: 200px;
      height: 280px;
    }
    .game-section ._item2 {
      margin: 0 8px 0px;
      height:auto !important;
    }
    .game-section .item.active {
      width: 270px;
    }
  }
