<section class="custom py-2">
    <div class="container container-custom">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="bg-custom">
                    <h2 class="pg-heading text-lg-start text-center text-white">
                        <span>
                            Product Customization
                        </span>
                        <br>
                        SIZE, COLOR, DESIGN
                    </h2>
                    <p class="heading-para text-lg-start text-center text-white">
                        Got a dream furniture in mind we will make it for you</p>
                    <button type="button" class="custom_btn">Customizes now</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div>
                    <img loading="lazy" src="catalog/view/javascript/assets/image/sofa-man.png" class="img-fluid img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>