<section class="py-2">
    <div class="container container-custom">
        <div class="row">
            <div class="col-lg-6">
                <div class="pp-on-sale">
                    <span class="onsale_badge">
                        On Sale</span>
                    <img loading="lazy" src="catalog/view/javascript/assets/image/bed-img.png" class="img-responsive img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="pg-heading text-lg-start">Solid Wood Poster Beds</h2>
                <p class="heading-para text-lg-start ">Purchase solid Sheesham wood poster beds in India. Available in all sizes (King and Queen) and with various storage options, including top opening storage, drawer storage, and regulars</p>
                <div class="price-sec">
                    <div class="offer-text">OFFER PRICE
                        <br>
                        <span>
                            (Inclusive all of taxes)</span></div>
                    <div class="cost-sec">
                        <div class="amount">₹57,350
                            <span class="text-cut">
                                ₹139,099
                            </span>
                            <span class="off_badge2">
                                50% OFF</span></div>
                    </div>
                </div>

                <ul class="qa-list">

                    <li>
                        <i class='bx bx-check'></i>
                        Made in Solid Sheesham Wood.</li>
                    <li>
                        <i class='bx bx-check'></i>
                        The unique texture of this lovable poster bed looks very classy when polished.</li>
                    <li>
                        <i class='bx bx-check'></i>
                        1 Year Warranty & Free Delivery All India.</li>
                </ul>
                <a href="" type="button" class="view_all_btn mt-5 ">
                    View all</a>
            </div>
        </div>
    </div>
</section>