<!-- Popular Categories-->
<section class="popular-catagories d-flex py-2">
    <div class="container container-custom">
        <div class="row">
            <h2 class="pg-heading text-center">
                Popular Categories
            </h2>
            <p class="heading-para text-center ">Unlimited Options. Unbelievable Prices. Free Delivery</p>
        </div>
        <div class="row d-md-flex justify-content-center d-sm-flex">
            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Beds
                            <span></span>
                        </div>
                        <div class="popular-items-img">
                            <img src="catalog/view/javascript/assets/image/popular-items/jollybed.jpg" class="img-responsive img-fluid">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Fabric Sofa<span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/curio-fabric-sofa.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Dining Table Sets
                            <span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/marblediningset.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Coffee Table
                            <span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/coffeetable.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Wooden Sofas
                            <span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/woodensofa.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">TV Units
                            <span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/tv-unit.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Diwans<span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/diwan.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>
            <!-- </div> <div class="row d-md-flex justify-content-center d-sm-flex"> -->
            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Study Tables<span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/studytable.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Sofa Cum Beds<span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/sofacumbed.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Bookcases<span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/bookcase.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Dressing Tables
                            <span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/dressingtable.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 wdith-50-sm ">
                <a href="">
                    <div class="pp-item-box">
                        <div class="item-name">Shoe Racks<span></span>
                        </div>
                        <img src="catalog/view/javascript/assets/image/popular-items/shoerack.jpg" class="img-responsive img-fluid">
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- end Popular Categories-->