<!-- quality section-->

<div class="qu-sec py-2">
    <div class="container container-custom">
        <div class="row">
            <h2 class="pg-heading text-center">
                Quality You Can Depend on
            </h2>
            <p class="heading-para text-center ">Creating An Interior That Reflects Your Style And Energy</p>
            <div class="d-flex justify-content-center">
                <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6">
                    <div class="qu-box">
                        <div class="_box_icon">
                            <img loading="lazy" src="catalog/view/javascript/assets/image/icon/ship-vector.svg" class="img-responsive img-fluid">
                        </div>
                        <h6 class="qu_box_heading text-center">Free Shipping</h6>
                        <!-- <p class="qu_box_para">UrbanWood is an online shopping destination that features the furniture of your dreams and reflects your personality with free home delivery.</p> -->
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6">
                    <div class="qu-box">
                        <div class="_box_icon">
                            <img loading="lazy" src="catalog/view/javascript/assets/image/icon/warranty-vector.svg" class="img-responsive img-fluid">
                        </div>
                        <h6 class="qu_box_heading text-center">Warranty Coverage</h6>
                        <!-- <p class="qu_box_para">Urbanwood offers a complete 12-month warranty covering any manufacturing defects you encounter.</p> -->
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6">
                    <div class="qu-box">
                        <div class="_box_icon">
                            <img loading="lazy" src="catalog/view/javascript/assets/image/icon/return-vector.svg" class="img-responsive img-fluid">
                        </div>
                        <h6 class="qu_box_heading text-center">
                            Easy Returns</h6>
                        <!-- <p class="qu_box_para">Our return policy has always been simple and easy. For any questions or difficulties with this, get in touch with our staff.</p> -->
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6">
                    <div class="qu-box">
                        <div class="_box_icon">
                            <img loading="lazy" src="catalog/view/javascript/assets/image/icon/care-vector.svg" class="img-responsive img-fluid">
                        </div>
                        <h6 class="qu_box_heading text-center">Dedicated Customer Care</h6>
                        <!-- <p class="qu_box_para">The dedicated customer service team is here to assist you in every manner possible. Call us with any questions or issues with your home and workplace furnishings.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end quality section-->