<section class="insta-sec pt-lg-2 pb-lg-5 py-md-5">
    <div class="container container-custom">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="pg-heading text-lg-start text-center mt-lg-5">
                    <span class="display-6">Follow us</span>
                    on Instagram</h2>
                <a href="https://www.instagram.com/urbanwood.in/?next=%2F#" target="_blank" class="link_text text-lg-start text-center d-block display-6"><img loading="lazy" src="catalog/view/javascript/assets/image/icon/insta-s.svg" class="img-responsive img-fluid ins-svg" style="width: 5%;">
                    -urbanwood#</a>
                <a href="https://www.instagram.com/p/CkfFvDBvmvu/?utm_source=ig_web_copy_link" target="_blank">
                    <div class="insta-image">
                        <img loading="lazy" src="catalog/view/javascript/assets/image/instagram/image-1.png" class="img-responsive img-fluid">
                        <span class=""><img loading="lazy" src="catalog/view/javascript/assets/image/icon/insta-s.svg" class="img-responsive img-fluid ins-svg" width="50%"></span>
                    </div>
                </a>

            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <a href="https://www.instagram.com/p/Ck7fA1DPdIx/?utm_source=ig_web_copy_link" target="_blank">
                            <div class="insta-image in-img-box1">
                                <img loading="lazy" src="catalog/view/javascript/assets/image/instagram/image-2.png" class="img-responsive img-fluid">
                                <span class=""><img loading="lazy" src="catalog/view/javascript/assets/image/icon/insta-s.svg" class="img-responsive img-fluid ins-svg" width="50%"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href="https://www.instagram.com/p/ClSqR1EvgQH/?utm_source=ig_web_copy_link" target="_blank">
                            <div class="insta-image in-img-box2">
                                <img loading="lazy" src="catalog/view/javascript/assets/image/instagram/image-3.png" class="img-responsive img-fluid">
                                <span class=""><img loading="lazy" src="catalog/view/javascript/assets/image/icon/insta-s.svg" class="img-responsive img-fluid ins-svg" width="50%"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href="https://www.instagram.com/p/CkSMSp7IUHc/?utm_source=ig_web_copy_link" target="_blank">
                            <div class="insta-image in-img-box3">
                                <img loading="lazy" src="catalog/view/javascript/assets/image/instagram/image-4.png" class="img-responsive img-fluid">
                                <span class=""><img loading="lazy" src="catalog/view/javascript/assets/image/icon/insta-s.svg" class="img-responsive img-fluid ins-svg" width="50%"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href="https://www.instagram.com/p/CjpMmX6pyCw/?utm_source=ig_web_copy_link" target="_blank">
                            <div class="insta-image in-img-box4">
                                <img loading="lazy" src="catalog/view/javascript/assets/image/instagram/image-5.png" class="img-responsive img-fluid">
                                <span class=""><img loading="lazy" src="catalog/view/javascript/assets/image/icon/insta-s.svg" class="img-responsive img-fluid ins-svg" width="50%"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>