{{ header }}
{{ menu }}
  <div class="wrapper">

<div class="breadcrumb-sec curstom-furniturebanner">
  <div class="container container-custom">
    <div class="customfurniture-breadcrumb">
      <h6 class=""> <span style="color:fc7f03">Design Your </span> <br>  <strong style="color:#434342; font-weight: 700;">Custom Order</strong></h6>
      <p class="text-lg-start d-sm-block d-none"> Share your Design Idea & Our Expert will Get Back With The Best Possible Custom Made Furniture  Suggestions Online</p>
  <ul class="d-sm-block d-none">
    <li><i class="fas fa-chevron-right"></i> Made to Order</li>
    <li><i class="fas fa-chevron-right"></i> Customize Your Order</li>
  </ul>
  <a href="custom-furniture#requirement-custom" type="button" class="view_all_btn mx-0 mt-lg-2"> Customize Now</a>

    </div>

  </div>
</div>
<div class="qu-sec py-2 ">
  <div class="container container-custom">
    <div class="row">
<div class="col-md-12 col-sm-12">
  <nav class="breadcumb-navigation mt-0">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Custom Furniture</li>
    </ol>
  </nav>   
</div>
</div>
    </div>
</div>

<!-- location list -->
<section class="py-2">
<div class="container container-custom">
  <div class="row">
        <div class="col-lg-12"> 
          <h1 class="pg-heading text-center">Modern Custom Furniture<br>
<span style="color:#fc7e00">“ Made to Order of Your Choice” </span></h1>
<p class="heading-para text-center ">UrbanWood is an online furniture store offering exclusive custom-made & ready to order furniture with the "Best price & Quality" standards in <br class="d-none d-md-block"> the market. We extend you the chance to make wonderful and moving interiors utilizing your dream furniture one that mirrors your  <br class="d-none d-md-block">
    style and energy forever. We make and customize furniture to suit and supplement your  <br class="d-none d-md-block">
     home and lifestyle.</p>
     </div>
    </div>
   
<!-- Carousel -->
<div id="demo4" class="carousel slide " data-bs-ride="carousel">
    <div class="row">
    <div class="col-md-6 col-sm-12">
      <!-- Indicators/dots -->
      <div class="carousel-indicators steps-for-cutom">
        <button type="button" data-bs-target="#demo4" data-bs-slide-to="0" class="active stepbutton">
        <div class="numstep">1 </div>
        <div class="stepname"><i class="fas fa-lightbulb"></i> Share Idea </div>
        </button>
        <button type="button" data-bs-target="#demo4" data-bs-slide-to="1" class="stepbutton">
          <div class="numstep">2 </div>
        <div class="stepname"><i class="fas fa-pencil-ruler"></i>Designing </div>
        </button>
        <button type="button" data-bs-target="#demo4" data-bs-slide-to="2" class="stepbutton">
          <div class="numstep">3 </div>
        <div class="stepname"> <i class="fas fa-tools"></i>Manufacturing</div>
        </button>
        <button type="button" data-bs-target="#demo4" data-bs-slide-to="3" class="stepbutton">
          <div class="numstep">4</div>
        <div class="stepname"><i class="fas fa-people-carry"></i> Packing & Shipping</div>
        </button>
      </div>
      </div>
      <div class="col-md-6 col-sm-12">
      <!-- The slideshow/carousel -->
      <div class="carousel-inner step-carousel-inner" >
        <div class="carousel-item active text-center">
          <img src="catalog/view/javascript/assets/image/share-idea-img.jpg" alt="share your custom furniture idea with urbanwood" width="75%" class="d-block img-fluid text-center" >
          <div class="">
            <p class="text-center">Urbanwood is here to make your vision a reality. </p>
          </div>
        </div>
        <div class="carousel-item text-center">
            <img src="catalog/view/javascript/assets/image/designing-img.jpg" alt="Urbanwood team will design your furniture" width="75%" class="d-block img-fluid text-center" >
          <div class="">
            <p class="text-center">Want to bring your ideas to life? Let Urbanwood help. </p>
          </div> 
        </div>
        <div class="carousel-item text-center">
            <img src="catalog/view/javascript/assets/image/manufacturing-img.jpg" alt="We at urbanwood make your dream in reality" width="75%" class="d-block img-fluid text-center">
          <div class="">
            <p class="text-center">Dream it, and we’ll make it for you.</p>
          </div>  
        </div>
          <div class="carousel-item text-center">
            <img src="catalog/view/javascript/assets/image/packing-delivery.jpg" alt="Ship your furniture free of cost" width="75%" class="d-block img-fluid text-center" >
          <div class="">
            <p class="text-center">Hassle-free experience, timely delivery to your doorstep.</p>
          </div>  
        </div>
      </div>
    

    </div>
    </div>
   </div>



   </div>
   </section>   
   
<section class="py-2 shareidea-img-bg" id="requirement-custom">
    <div class="container container-custom">
      <div class="row">
        <div class="col-md-6"> 
<div class="content-share-heading">SHARE YOUR CUSTOM <br>
    DESIGNS <span style="color: #ffc107; font-weight: 700;"> SMARTLY </span> </div>
        </div>
        <div class="col-md-6">
 <div class="share-idea-form" >
    
    <form class="row g-3 needs-validation" novalidate="" id="customizedetails">
        <div class="col-md-12 cstm">
          <label for="inputname" class="form-label">Name <sup>*</sup></label>
          <input type="text" class="form-control" id="inputname" name="name" placeholder="Enter your name" required="">
        </div>
        <div class="col-12 col-md-6 cstm">
          <label for="inputEmail" class="form-label">Email <sup>*</sup></label>
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter your email" required="">
        </div>
        <div class="col-12 col-md-6 cstm">
          <label for="inputphone" class="form-label">Phone No. <sup>*</sup></label>
          <input type="text" class="form-control" id="inputphone" name="mobile" placeholder="Enter your phone no." required="">
        </div>
        {# <div class="col-12 col-md-6 cstm">
            <label for="inputPincode" class="form-label">Pin Code <sup>*</sup></label>
            <input type="text" maxlength="6" class="form-control" id="inputPincode" name="pincode" placeholder="Enter your pincode" required="">
          </div> #}
          <div class="col-12 col-md-12 cstm">
            <label for="inputCity" class="form-label">State <sup>*</sup></label>
            <select name="state" id="state" name="state" class="form-control" required>
			                <option value="">Select state</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
          </div>
        
        <div class="col-md-12 cstm">
        <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="message" placeholder="Type your message here..." required=""></textarea>
      </div>
      </div>
        <div class="col-12">
          <!-- <div class="form-check">
<label> Drag and file to Upload</label>
<div class="upload-container">
    <button class="file-selector"> browse file</button>
    <input type="file" id="file_upload" multiple />
</div>
          </div> -->
          <div class="cx-fileupload">
            <header>Upload Your File Here</header>
            <div class="outer-drag-n-drop">
            <div class="drag-area">
              <p class="box-d-text"style="margin-bottom: 0px;">Supported file JPG, PDF PNG </p>
              {# <input class="file-input" type="file" name="file" hidden> #}
            <div class="input-browse">
              <input class="file-input-upload" type="file" id="file-upload" name="customImages[]" multiple>
              <!-- <i class="fas fa-cloud-upload-alt"></i> -->
              <p>Browse </p>
            </div>
          </div>
            
          </div>
          <div class="fileName">
                <div class="image-preview">
                  <!-- previews will be added dynamically here -->
                </div>
              </div>
         </div>
        </div>
        <div class="col-12">
          <button type="button" id="submitbtn" class="view_all_btn" onclick="customRequest('customizedetails', 'submitbtn')">REQUESTED SEND</button>
        </div>
      </form>
</div>
        </div>
      </div>
      </div>
      </section>

<section class="py-5">
  <div class="container container-custom"> 
    <div class="row">
      <div class="col-md-5 my-lg-5 py-lg-3">
        <h2 class="pg-heading text-lg-start text-center mb-lg-4">Custom Furniture <br>
          <span style="background:#fc7e00; color: #fff; padding: 0px 10px">“ Made To Order ”</span></h2>
          <p class="heading-para text-lg-start text-center ">UrbanWood is an online furniture store offering exclusive custom-made & ready to order furniture with the "Best price & Quality" standards in the market. We extend you the chance to make wonderful and moving interiors utilizing your dream furniture, one that mirrors your style and energy forever. We make and customize furniture to suit and supplement your home and lifestyle.</p>
      </div>

      <div class="col-md-7">
        <div class="customitem"> 
          <!-- <img src="catalog/view/javascript/assets/image/custommade1.png" alt="" class="img-fulid"> -->
          <div class="w3-content compaire-slider" >
            <img class="mySlides w3-animate-top" alt="" src="catalog/view/javascript/assets/image/custommade/custom1.jpg" style="width:100%">
            <img class="mySlides w3-animate-top" alt="" src="catalog/view/javascript/assets/image/custommade/custom2.jpg" style="width:100%">
            <img class="mySlides w3-animate-top" alt="" src="catalog/view/javascript/assets/image/custommade/custom3.jpg" style="width:100%">
            
          </div>
        </div>
        <div class="customitem">
          <div class="w3-content compaire-slider" >
            <img class="mySlides2 w3-animate-bottom" src="catalog/view/javascript/assets/image/custommade/custom1a.jpg" style="width:100%">
            <img class="mySlides2 w3-animate-bottom" src="catalog/view/javascript/assets/image/custommade/custom2a.jpg" style="width:100%">
            <img class="mySlides2 w3-animate-bottom" src="catalog/view/javascript/assets/image/custommade/custom3a.jpg" style="width:100%">
         
          </div>
          <!-- <img src="catalog/view/javascript/assets/image/custommade1.png" alt="" class="img-fulid"> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container container-custom">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-12">
        <div class="whatchatmobile">
          <img src="catalog/view/javascript/assets/image/whatschatmobile.png" alt="whatschatmobile.png" class="img-fulid">
        </div>
      </div>
      <div class="col-md-6 my-lg-4 ">
        <div class="out-whats">
        <div class="row">
        <div class="col-md-12 my-lg-4"> 
          <div class="whatsouter">
        <div class="whatappcontant ">
            <div class="">
              <img src="catalog/view/javascript/assets/image/icon/whatsappicon.png" alt="" class="img-fulid" >
            </div>
            <div class="whatschatlive">
              <p class="heading-para text-lg-start m-0 p-0">Instant Chat With Our Expert for your </p>
              <h2 class="custom-heading-whts mt-0" style="color: #14a17e;">Customization</h2>
              <button onclick="window.location.href='https://wa.me/919599283125';" type="button" class="text-lg-start view_all_btn my-4">Chat Now</button>
            </div>
          
        </div>
        <div class="conforchat">
          <h5>Contact Us :-</h5>
          <ul>
            <li> <span><i class="fab fa-whatsapp"></i> &nbsp; (+91) 9599283125</li>
              {# <li> <span><i class="fas fa-at"></i> </span> &nbsp; customization@urbanwood.in</li> #}
            </ul>
        </div>
      </div>
      </div>
      {# <div class="col-md-6">
        <div class="whatappcontant">
          <div class="whatsappnotify"> 
            <div class="d-flex justify-content-between"> 
            <div class="form-title">
               <span>Want’s to Notify on</span>
               <h5> WhatsApp ?</h5>
            </div>
            <div>
              <img src="catalog/view/javascript/assets/image/icon/bell-icon.png" alt="">
            </div>
          </div>
            <form class="row g-3 needs-validation" id="whatsappconnect" novalidate="" >
              <div class="col-12 cstm">
                <label for="inputnamew" class="form-label newlabel">Name</label>
                <input type="text" class="form-control" name="name" id="inputnamew" placeholder="Enter your name" required="">
              </div>
              <div class="col-12 cstm">
                <label for="inputphonew" class="form-label newlabel">WhatsApp No.</label>
                <input type="text" class="form-control" name="telephone" id="inputphonew" placeholder="Enter your phone no." required="">
              </div>
              <div class="col-12 cstm">
                <label for="requestpurpose" class="form-label newlabel">City</label>
                <input type="text" class="form-control" name="city" id="inputcity" placeholder="Enter your city" required="">
            
              </div> 
              <div class="col-12 text-center">
              <button type="button" id="submitbtnw" class="text-lg-start submit-number" onclick="addToWhatsapp('whatsappconnect', 'submitbtnw')">Submit</button>
              </div>
              </form>
          </div>
          </div>
          </div> #}
        </div>
      </div>
      </div>
    </div>
  </div>
  </section>

<section class="py-5">
  <div class="container container-custom">
    <div class="row">
    <div class="col-12 mb-5">
      <h2 class="pg-heading text-center">We Personilze Your Furniture Completely!</h2>
    </div>
<div class="col-md-3 col-sm-6 col-xs-6">
<div class="styling_box">
<div class="pr-img">
<img src="catalog/view/javascript/assets/image/wood-img.jpg" class="img-responsive img-fluid">
</div>
<div class="bo-pro-con text-center py-5">
<h3>Wood</h3>
<p class=" heading-para">Pick from the vast range of sturdy furniture woods for elegant and solid wood looking furniture</p>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-6">
  <div class="styling_box">
  <div class="pr-img">
  <img src="catalog/view/javascript/assets/image/chair-pro.png" class="img-responsive img-fluid">
  </div>
  <div class="bo-pro-con text-center py-5">
  <h3>Style</h3>
  <p class=" heading-para">Get a unique design of your choice with personalized look and feel to your Dream furniture.</p>
  </div>
  </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="styling_box">
    <div class="pr-img">
    <img src="catalog/view/javascript/assets/image/finish.png" class="img-responsive img-fluid">
    </div>
    <div class="bo-pro-con text-center py-5">
    <h3>Finish</h3>
    <p class=" heading-para">The right finishing gives elegant and alluring look and feel to your furniture design.</p>
    </div>
    </div>
    </div>

  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="styling_box">
    <div class="pr-img">
    <img src="catalog/view/javascript/assets/image/fabric.png" class="img-responsive img-fluid">
    </div>
    <div class="bo-pro-con text-center py-5">
    <h3>Fabric</h3>
    <p class=" heading-para">Enhance your living space with amazing fabric designs and material of your furniture.</p>
    </div>
    </div>
    </div>

  
    </div>
  </div>
</section>


<!---- end-- list -->

<section class="faq_sec py-lg-5 "> 
  <div class="container container-custom">
    <div class="row">
      
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Q. What is custom furniture?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         A.	Custom-made furniture is created by craftsmen to the specifications of the buyer. It allows you to choose the colour, material, finish, and design, among other things.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Q. What are good reasons to buy custom furniture?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          A.	The most significant advantage of dealing with customized furniture for the consumer is, of course, how the furniture appears and operates. These are the two main reasons why individuals seek out personalized furniture producers. There is a probability that you have a specific space need that is not being addressed by off-the-shelf pickups. So, going for customized furniture can be a better option for you.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Q. Where can I get custom furniture?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          A.	Custom furniture is just a click away from you. UrbanWood has the finest craftsmen all across India. So, whatever you visualize, we aim to shape it into reality in the expected timeline.
        </div>
      </div>
    </div>
  <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Q. How can I custom design my furniture on UrbanWood?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          A.	All you have to do is dial our helpline number (phone number). After you choose a design, our representative will listen to all of your thoughts and ideas. Then we present you with an estimate for the design.
        </div>
      </div>
    </div>
  
  <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Q. What are good reasons to buy custom furniture?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          A.	One of the major benefits of having your furniture custom created is that you will be able to fill your space as effectively as possible. Ready-made furniture is created to a standard size, but custom-made furniture is measured and made to your exact specifications. This encompasses the piece's physical size as well as its form. Overall, custom-made furniture may help you make the best use of your available space.
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Q. Which one is a better choice, custom made furniture or ready-made furniture?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          A.	One of the major benefits of having your furniture custom created is that you will be able to fill your space as effectively as possible. Ready-made furniture is created to a But custom-made furniture is measured and made to your exact specifications. This incorporates the piece's physical size as well as its form.
        </div>
      </div>
    </div>
   
  </div>
      </div>
  
      <div class="col-lg-6">
        <div class="query-sec">
          <div> 
          <h2 class="pg-heading text-lg-start text-white"><span class="display-6">Questions? </span>  <span style="color:#fcff00"> Look here! </span></h2>
          <p class="heading-para text-lg-start text-white"> <b>Can't Find Question? </b></p>
          <div class="con-info">
            <div class="icon-2"><img src="catalog/view/javascript/assets/image/icon/phone-icon.png" class="img-responsive img-fluid"> </div>
            <div class="con-detail"><p class="text-white"><small > contact us for any query</small></p> <h5>  +91- 9599283126 </h5></div>
          </div>
          <div class="con-info">
            <div class="icon-2"><img src="catalog/view/javascript/assets/image/icon/mail-icon.png" class="img-responsive img-fluid"> </div>
            <div class="con-detail"><p class="text-white"><small > Email us for frequent response</small></p> <h5>Support@Urbanwood.In</h5></div>
          </div>
         </div>
         <div class="query_man"> 
       
        <div class=""> <img src="catalog/view/javascript/assets/image/query-man.png" class="img-responsive img-fluid"> </div>
         </div>
        </div>
      </div>
    </div>
  </div>
    </section>
<section class="bottom-content py-4"> 
<div class="container container-custom"> 
<div class="row">
  <div class="col-lg-12">
        <h2>Exclusive Custom Made Furniture (फर्नीचर) Online with the Best Price &amp; Quality </h2>
     <p>Regardless of whether you have a particular taste or an extraordinary space that needs <b>custom furniture</b>, our affirmed UrbanWood furniture creators will assist you with getting anything made.</p>
     <p>Peruse for thoughts including custom upholstery, custom tables, chairs, custom&nbsp;<b><a href="bedroom-furniture" target="blank">bedroom furniture</a></b>, shoe racks, <b>custom storage furniture,</b> and then some. Our design specialists are here to talk you through any problem.</p>
     <p>From custom decorations that fit your little Indian&nbsp;<b><a href="living-room-furniture" target="blank">living room furniture</a></b> and your own style to that custom dining room table, you've drawn up in your mind.</p>
     <p>From blending and coordinating woods to understanding which <b>end tables</b> are best for various kinds of custom sectionals, styling a room is a craftsmanship. So we set up a progression of expertly styled living rooms to help kick off your creative mind. </p>
     <h2>Custom Furniture Design Online: Settle On Personal Custom Choices</h2>
     <p>We offer many custom&nbsp;<b><a href="furniture-design" target="blank">furniture design</a></b> choices—from uncommon completions to hand-applied plating to a decision of leg styles on certain pieces, and much more decisions at the Design Center—and our design professionals are here to respond to questions, offer counsel, and assist you with finding the ways there are to communicate your style. </p>
     <h2>Buy Customized Furniture With Quality Assurance</h2>
     <p>We put the absolute best into our&nbsp;<b><a href="wooden-furniture-online" target="blank">wooden furniture online</a></b> so you benefit from it. Each household item we make is the amount of imaginative design, exact designing, the best materials, and amazing craftsmanship. It starts as a thought that is then refined by our skilled item designs. </p>
     <p>We source premium wood and facade. We use cutting-edge gear close to traditional development techniques. We create completes that make the wood look its absolute best.</p>
     <p>There might be hand-cut subtleties and twelve alternate ways our experts' abilities change a piece of wood into amazing <b>customized furniture</b>. </p>
     <h2>Best Quality Customized Living Room Furniture </h2>
     <p>Have you been longing for the ideal living room? Regardless of whether you're making a conventional living room or searching for more easygoing, laid-back furniture for your family room, you can undoubtedly rejuvenate it with our customizable <b>living furniture</b>.</p>
     <p>We have a wide scope of&nbsp;<b><a href="sofas" target="blank">custom sofas</a></b>, custom sectionals, custom living room chairs, custom footrests, custom seats, and <b><a href="chairs" target="blank">custom chairs</a></b>, custom-made by hand in your preferred fabrics and cowhides, with added manages and tufting, completes, and prospers. Focus your space on a ravishing custom footstool, and add custom <b><a href="bedside-tables" target="blank">bedside tables</a></b> for showing plants, photographs, and cherishes. </p>
     <p>You can pick coordinating custom living room furniture sets, or blend and match the pieces you as of now have with something new. </p>
     <h3><b>Custom Made Dining Room Furniture Design</b></h3>
     <p>Set a liberal&nbsp;<b><a href="dining-tables" target="blank">custom dining table</a></b> with our exquisite&nbsp;<b><a href="dining-room-furniture" target="blank">dining room furniture</a></b>, regardless of whether you're engaging loved ones or appreciating a tranquil dinner at home. Select from round, oval, rectangular, and augmentation our custom furniture alternatives have you covered, regardless of the size and format of your room or the number of individuals you need to situate. </p>
     <p>Furthermore, talking about seats, we have a wide choice of custom dining&nbsp;<b><a href="arm-chairs" target="blank">armchairs</a></b> and side chairs, with either upholstered or <b>wooden chairs</b>, alongside upholstered have chairs, in addition to a wide scope of counter stools and bar stools. </p>
     <p>Keep everything coordinated with our <b>custom storage furniture</b> alternatives, including smorgasbords, sideboards, and&nbsp;<b><a href="bookshelves" target="blank">bookshelves</a>,</b> and top off great occasions with one of our perfect bar cupboards. Set up a dining room set that communicates your style, or stops by <b>UrbanWood furniture</b>.</p>
     <h3><b>UrbanWood Made Custom Bedroom Furniture Online</b></h3>
     <p><b>Urban wood bedroom furniture</b> is perfectly designed and created with reliable workmanship. Our <b>custom furniture</b> remembers beds for a variety of sizes and in a wide scope of styles; you'll find both glitzy wood furniture and easygoing styles that look delightful in a scope of the stylistic layout—from farmhouse to seaside escape—made in a scope of materials including wood, metal, and upholstered alternatives. </p>
     <p>Browse rich customized furniture with hand-applied gold leaf, fresh white for a house look, and custom wooden bed styles in earthy colored, dark, and dark completions. Add a top-notch sleeping cushion and establishment, lovely sheet material, and decorative pads to dress your bed in style, and complete the look with correlative night tables, <b><a href="dressing-tables" target="blank">dressing tables</a>,</b> and <b><a href="wardrobes" target="blank">wardrobes</a></b>. </p>
     {# <h3><b>Customized Rugs &amp; Carpet Collection</b></h3>
     <p>Put things in place for an ideal home; search for rugs with UrbanWood. We offer an expansive choice of woven rugs, both hand-tied&nbsp;<b><a href="rugs-and-carpets" target="blank">rugs and carpets</a>,</b> and broadloom, in a wide scope of sizes, styles, and examples: solid shading rugs, custom-designed rugs, captivating botanical rugs, or exemplary striped rugs.</p>
     <p>You'll discover worldwide roused rugs, <b>modern designs rugs</b> in a lively, flexible range, traditional rugs, mathematical rugs, and that's just the beginning, all designed to find some kind of harmony of complexity and style, numerous suitable for both indoor and outdoor use. </p>
     <p>Add a thick, nonslip rug cushion to add comfort underneath and to broaden the life—and magnificence—of your indoor rugs for quite a long time to come. </p> #}
     <h4><b>Custom Made Outdoor Furniture Online</b></h4>
     <p>Work less, play more—that is what the issue here is. Take an outing to an unheard-of level with our flawlessly made, enduring custom outdoor furniture sets. Our all-climate furniture assortments, including&nbsp;<b><a href="solid-wood-furniture" target="blank">solid wood furniture</a></b> and <b><a href="sheesham-wood-furniture" target="blank">sheesham wood furniture</a></b>, blend ageless fascinate in with strength; we have all you require for outdoor dining and outdoor living spaces, including dining tables, chairs, footstools, side tables, seats, <b><a href="ottomans-and-pouffes" target="blank">ottomans and pouffes</a></b>, and that's only the tip of the iceberg.</p>
     <p>Our pads are produced using strong, mess and blur safe outdoor fabrics, accessible in a wonderful exhibit of tones and prints. Toss some shade with one of our yard umbrellas, accessible in three shapes, and top everything off with your number one outdoor cushions. Add some <b>custom furniture</b> covers to secure your furniture design when you're not utilizing it, and you have a formula for the ideal outdoor desert spring—our outdoor goods are designed to confront the components and look delightful doing it. </p>
     <h5><b>Buy Modern Custom Furniture Online At UrbanWood</b></h5>
     <p><b>Custom furniture</b> isn't confounded. UrbanWood makes it simple to custom furniture design that accommodates your interesting space and needs. What's more, since Room furniture is made in India and imported materials, we're ready to convey <b><a href="furniture-online" target="blank">furniture online</a></b> to you in as not many as five weeks. </p>
     <p>We offer both enormous <b>storage furniture</b> and small custom storage so you can get precisely what you need. Look over many sizes and alternatives inside modern cupboards and contemporary cabinets for living rooms, kitchens and dining rooms, and bedrooms.</p>
     <p>Many cupboards and storage pieces are produced using solid wood furniture material and the most excellent solid wood facade, guaranteeing our&nbsp;<b><a href="modern-furniture-online" target="blank">modern furniture online</a></b> endure forever. </p>
     <p>Make your ideal modern <b><a href="wooden-sofas" target="blank">wooden sofa</a></b> or accent chair with our amazing long-lasting high-quality fabric. You would custom be able to arrange Room upholstery by browsing in excess of a lot of fabric options. It's simple: pick a sofa or chair you love. </p>
     <p>Pick a fabric you love. We put your custom sofa or accent chair together. Living room custom sofas and chairs will be the ideal supplement to a contemporary living room. </p>
     <p>From facilitating a group to a condo or small space dining table, our <b>custom tables</b> by the Inch program allows you to pick the specific size dining table you need. </p>
     <p>Select table stature, table width, and table profundity. Utilize the Room dining table manual to discover which table estimations would be best for your kitchen or dining room and to see modern custom dining sets. Request tabletop material examples to perceive how <b>custom furniture</b> materials would glance in your kitchen. </p>
     <p>Utilize our By the Inch program for modern furniture, yet additionally for <b><a href="decor" target="blank">home decors</a></b> like modern rugs, mirrors, and cushions. UrbanWood makes it simple to locate the ideal rug since you can make it to your precise estimations, regardless of whether you need a huge square or rectangular rug or a round rug for your living room, bedroom, dining room, or entryway. </p>
     <p>Four styles of UrbanWood contemporary mirrors can be made in by-the-inch increases, while our custom toss pads are accessible in excess of unlimited fabric tones and examples.</p>

  </div>
</div>
</div>


</section>
</div>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "What is custom furniture?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Custom-made furniture is created by craftsmen to the specifications of the buyer. It allows you to choose the colour, material, finish, and design, among other things."
    }
  },{
    "@type": "Question",
    "name": "What are good reasons to buy custom furniture?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "The most significant advantage of dealing with customized furniture for the consumer is, of course, how the furniture appears and operates. These are the two main reasons why individuals seek out personalized furniture producers. There is a probability that you have a specific space need that is not being addressed by off-the-shelf pickups. So, going for customized furniture can be a better option for you."
    }
  },{
    "@type": "Question",
    "name": "Where can I get custom furniture?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Custom furniture is just a click away from you. UrbanWood has the finest craftsmen all across India. So, whatever you visualize, we aim to shape it into reality in the expected timeline."
    }
  },{
    "@type": "Question",
    "name": "How can I custom design my furniture on UrbanWood?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "All you have to do is dial our helpline number (phone number). After you choose a design, our representative will listen to all of your thoughts and ideas. Then we present you with an estimate for the design."
    }
  },{
    "@type": "Question",
    "name": "What are good reasons to buy custom furniture?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "One of the major benefits of having your furniture custom created is that you will be able to fill your space as effectively as possible. Ready-made furniture is created to a standard size, but custom-made furniture is measured and made to your exact specifications. This encompasses the piece's physical size as well as its form. Overall, custom-made furniture may help you make the best use of your available space."
    }
  },{
    "@type": "Question",
    "name": "Which one is a better choice, custom made furniture or ready-made furniture?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "One of the major benefits of having your furniture custom created is that you will be able to fill your space as effectively as possible. Ready-made furniture is created to a But custom-made furniture is measured and made to your exact specifications. This incorporates the piece's physical size as well as its form."
    }
  }]
}
</script>
<script>
  var myIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var y = document.getElementsByClassName("mySlides2");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    for (i = 0; i < y.length; i++) {
      y[i].style.display = "none"; 
    }
    myIndex++;
    if (myIndex > x.length) {
      myIndex = 2
    }    
    x[myIndex-1].style.display = "block";  
    y[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2500); 
  }

  function customRequest(idd,btn){
   if(!formRule(idd)) return false;

    $('#'+btn).text('Processing...');
    $('#'+btn).attr("disabled", true);;
var formData = new FormData(document.getElementById('customizedetails'));

    $.ajax({
      url: '?route=custom/customfurniture/customerRequest',
      type: 'post',
      dataType: 'json',
      data: formData, //$('#'+idd).serialize(),
      processData: false,
      contentType: false,
    success:function(res){  
      console.log(res);    
        if(res.success == 'text_success'){
          location.href = 'thank-you';
          //$("#"+idd)[0].reset(); 
            //var thanksHtml = '<div class="success-popup "><span><svg id="smile" width="45" height="45" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.2432 29.9911L16.5968 30.3439L16.95 29.9907L30.5886 16.352L30.9422 15.9985L30.5886 15.6449L27.7128 12.7691L27.3593 12.4156L27.0057 12.7691L16.592 23.1828L12.2699 18.8682L11.9158 18.5148L11.5626 18.869L8.69086 21.7489L8.33792 22.1028L8.69174 22.4558L16.2432 29.9911ZM0.823975 20.662C0.823975 9.72375 9.72375 0.823975 20.662 0.823975C31.6002 0.823975 40.5 9.72375 40.5 20.662C40.5 31.6002 31.6002 40.5 20.662 40.5C9.72375 40.5 0.823975 31.6002 0.823975 20.662Z" stroke="#33C300"/> </svg> </span> <span> <h6>Success</h6> <p>We have received your request, our team will contact you soon</p> </span></div>';
        }else{
            var thanksHtml = '<div class="success-popup2"><span><svg id="smile2" width="45" height="45" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/></svg></span><span><h6>Alert</h6><p>Could not register your request, please try again</p></span></div>';
        }
        $('body').prepend(thanksHtml);
        $('#'+btn).text('Submit');
      
    }
  });
  }

  //send whatsapp form data 
  function addToWhatsapp(idd,btn){
   if(!formRule(idd)) return false;
    $('#'+btn).text('Processing...');

    $.ajax({
      url:'?route=custom/customfurniture/addtowhatsapplist',
      data:$('#'+idd).serialize(),
      type:'POST',
    // dataType:'JSON',
    success:function(res){ 
      console.log(res);     
        if(res.success == 'text_success'){
          
          //location.href = 'thank-you';
          // $("#"+idd)[0].reset(); 
            // var thanksHtml = '<div class="success-popup "><span><svg id="smile" width="45" height="45" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.2432 29.9911L16.5968 30.3439L16.95 29.9907L30.5886 16.352L30.9422 15.9985L30.5886 15.6449L27.7128 12.7691L27.3593 12.4156L27.0057 12.7691L16.592 23.1828L12.2699 18.8682L11.9158 18.5148L11.5626 18.869L8.69086 21.7489L8.33792 22.1028L8.69174 22.4558L16.2432 29.9911ZM0.823975 20.662C0.823975 9.72375 9.72375 0.823975 20.662 0.823975C31.6002 0.823975 40.5 9.72375 40.5 20.662C40.5 31.6002 31.6002 40.5 20.662 40.5C9.72375 40.5 0.823975 31.6002 0.823975 20.662Z" stroke="#33C300"/> </svg> </span> <span> <h6>Success</h6> <p>You will be notified on whatsapp </p> </span></div>';
        }else{
            var thanksHtml = '<div class="success-popup2"><span><svg id="smile2" width="45" height="45" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/></svg></span><span><h6>Alert</h6><p>Add your error message here </p></span></div>';
        }
        $('#msg').html(thanksHtml);
        $('#'+btn).text('Submit');
      
    }
  });
  }
// get state list
// $( document ).ready(function() {
// 	$.ajax({
// 		url: 'index.php?route=checkout/checkout/country&country_id=99',// + this.value,
// 		dataType: 'json',
// 		success: function(json) {
// 		  html = '<option value="">{{ text_select }}</option>';
// 			if (json['zone'] && json['zone'] != '') {
// 				for (i = 0; i < json['zone'].length; i++) {
// 					html += '<option value="' + json['zone'][i]['zone_id'] + '"';
// 					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
// 						html += ' selected="selected"';
// 					}
// 					html += '>' + json['zone'][i]['name'] + '</option>';
// 				}
// 			} else {
// 				html += '<option value="0" selected="selected">{{ text_none }}</option>';
// 			}
// 			$('#whatsappconnect select[name=\'zone_id\']').html(html);
// 		},
// 		error: function(xhr, ajaxOptions, thrownError) {
// 			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 		}
// 	});
// });
  </script>

  <script>

    const fileInput = document.querySelector("#file-upload");
const previewContainer = document.querySelector(".image-preview");

fileInput.addEventListener("change", function () {
  const files = this.files;
  if (files) {
    $('.clear-btn').css('display','inline-block')
    for (let i = 0; i < files.length; i++) {
      const reader = new FileReader();
      reader.addEventListener("load", function () {
        const img = new Image();
        img.addEventListener("load", function () {
          const canvas = document.createElement("canvas");
          canvas.width = 150;
          canvas.height = 100;
          const ctx = canvas.getContext("2d");
          ctx.drawImage(img, 0, 0, 150, 100);
          const preview = document.createElement("div");
          preview.classList.add("preview");
          preview.appendChild(canvas);
          previewContainer.appendChild(preview);
        });
        img.src = reader.result;
      });
      reader.readAsDataURL(files[i]);
    }
  }
});
$('#clearbtn').on('click', function() { 
    $('#file-upload').val('');
    $('.image-preview').empty();
    reset($('#file-upload'))
});

  </script>
{{ footer }}