<div class="breadcrumb-sec">
    <div class="container container-custom">
        <div class="breadcrumb-content">
            <h6>
                UrbanWood</h6>
            <p class="text-lg-start">
                To add a touch of elegance to your home at a reasonable price, get furniture online from our wide selection of wooden furniture units. To suit your home interiors.
            </p>
            <p class="text-lg-start" style="color:#fd8500">
                <strong>You can also purchase specifically customized for your needs.
                </strong>
            </p>
            <nav class="breadcrumb-nav">
                <ol class="breadcrumb m-0 p-2">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item ">
                        <a href="our_stores.html">Our Stores</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Jaipur Store
                    </li>
                </ol>
            </nav>

        </div>

    </div>
</div>