<!-- location list--->
<section class="py-2">
    <div class="container container-custom">
        <div class="row">
            <div class="d-sm-flex justify-content-between align-items-center d-block">
                <div class="col-lg-6">
                    <h2 class="pg-heading text-lg-start text-center">Select a Location to
                        <br>
                        Discover the Nearest Stores</h2>
                </div>
                <div class="col-lg-6">
                    <!-- <a href="" type="button" class="view_all_btn float-right-btn"> View all</a> -->
                    <div class="custom-select">
                        <select>
                            <option value="0">
                                All Location</option>
                            <option value="1">Select Location</option>
                            <option value="2">Jaipur</option>
                            <option value="3">Chennai</option>
                            <option value="4">Bangalore</option>
                            <option value="5">Mumbai</option>
                            <option value="6">Gurugram</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="location-box">
            <div class="row">
                <div class="col-lg-6">
                    <div class="map-img">

                        <!-- Carousel -->
                        <div id="demo2" class="carousel slide" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#demo2" data-bs-slide-to="0" class="active"></button>
                                <button type="button" data-bs-target="#demo2" data-bs-slide-to="1"></button>
                                <button type="button" data-bs-target="#demo2" data-bs-slide-to="2"></button>
                            </div>

                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="catalog/view/javascript/assets/image/location-img1.jpg" alt="Los Angeles" class="d-block" style="width:100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="catalog/view/javascript/assets/image/location-img1.jpg" alt="Chicago" class="d-block" style="width:100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="catalog/view/javascript/assets/image/location-img1.jpg" alt="New York" class="d-block" style="width:100%">
                                </div>
                            </div>

                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-end text-center">
                    <div class="brachlist-heading">Jaipur Store</div>
                    <ul class="listing-bb m-0 p-0">
                        <li class="d-flex align-items-center">
                            <div>
                                <span>ADDRESS
                                </span>
                                <br>
                                URBANWOOD FURNITURE PRIVATE LIMITED 843 , Gram Basdi , mukandpura Road , Bhankrota , Ajmer road , Jaipur Rajasthan , 302026
                            </div>
                            <div class="list-con-icon">
                                <i class='bx bx-map' style='color:#fd8400'></i>
                            </div>
                        </li>

                        <li class="d-flex align-items-center">
                            <div>
                                <span>CALL</span>
                                <br>
                                +91 89496 95921
                            </div>
                            <div class="list-con-icon">
                                <i class='bx bx-phone-call' style='color:#fd8400'></i>
                            </div>
                        </li>

                        <li class="d-flex align-items-center">
                            <div>
                                <span>HOURS</span>
                                <br>
                                Monday - Sunday: 11:00am - 9:00pm
                            </div>
                            <div class="list-con-icon">
                                <i class='bx bxs-time-five' style='color:#fd8400'></i>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>